<%= form_for @artist, :html => {:multipart => true}, :validate => true do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% @artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%=f.file_field :image %>
    <%=f.hidden_field :image_cache %>
  </div>

  <div class="field">
    <%=f.label :url_slug %><br />
    <%=f.text_field :url_slug %>
  </div>

  <div class="field">
    <%=f.label :pay_pal %><br />
    <%=f.text_field :pay_pal %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :province %><br />
    <%= f.text_field :province %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>

  <h2> Social </h2>
	<div class="field">
		<%=f.label :twitter_name %><br />
		<%=f.text_field :twitter_name %>
	</div>

	<div class="field">
		<%=f.label :social_title%><br />
		<%=f.text_field :social_title %>
	</div>


	<div class="field">
		<%=f.label "Facebook Page URL"%><br />
		<%=f.text_field :fb_page_url %>
	</div>

	<h2>Artist Info</h2>

  <div class="field">
    <%= f.label :influence %><br />
    <%= f.text_area :influence %>
  </div>
  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :contact_info %><br />
    <%= f.text_area :contact_info %>
  </div>
  <div class="field">
    <%= f.label :date_founded %><br />
    <%= f.date_select :date_founded %>
  </div>
  <div class="field">
    <%= f.label :created_date %><br />
    <%= f.text_field :created_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
