<%= form_for @song, :url => { :controller => :songs, :action => :create,:artist_id => @artist.id}, :validate => true, :remote => true do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song .errors.count, "error") %> prohibited this song  from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :song_name %><br />
    <%= f.text_field :song_name %>
  </div>

  <div class="field">
    <%= f.label :song_written %><br />
    <%= f.text_field :song_written %>
  </div>
  <div class="field">
    <%= f.label :song_licence_type %><br />
    <%= f.text_field :song_licence_type %>
  </div>
  <div class="field">
    <%= f.label :song_licence_date %><br />
    <%= f.date_select :song_licence_date %>
  </div>
  <div class="field">
    <%= f.label :song_plays %><br />
    <%= f.text_field :song_plays %>
  </div>
  <div class="field">
    <%= f.label :song_url_slug %><br />
    <%= f.text_field :song_url_slug %>
  </div>
  <div class="field">
    <%= f.label :lyrics %><br />
    <%= f.text_area :lyrics %>
  </div>



  <%= submit_tag "save" %>
  </div>
<% end %>