
<h3>Artist upload </h3>
<form action="https://<%=@bucket%>.s3.amazonaws.com" method="post" enctype="multipart/form-data" class='direct-upload'>

	<input type="hidden" name= "key" />
	<input type="hidden" name= "AWSAccessKeyId" value="AKIAJBCDYICH6VCMN6ZA" />
	<input type="hidden" name="acl" value="public-read" />
	<input type="hidden" name="x-amz-meta-my-file-name" value="" />
	<input type="hidden" name="Content-Disposition" value="" />
	<input type="hidden" name="policy"/>
	<input type="hidden" name="signature"/>
	<input type="hidden" name="success_action_status" value="201" />

	<input type="file" name="file"/>

	<!--- # You can recognize some bootstrap markup here :)-->
	<!--.progress.progress-striped.active-->
	<!--.bar-->

</form>




<%= cloudinary_js_config %>

<%= form_for @artist, :html => {:multipart => true}, :validate => true do |f| %>


<% end %>

<%= form_for @artist, :html => {:multipart => true}, :html => {:class => 'ajax_update'}, :validate => true do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% @artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <h2>Upload some images</h2>
  <h3>Your background Image</h3>
  <div class="field">
	  <p>this is working? </p>
	  <%= cl_image_upload_tag(:image,
							  :html => {:class => "image_upload"}) %>
  </div>


	<div class="field">
		<%= f.label "Use Image for logo?" %><br />
		<%= f.check_box :logo_toggle %>
	</div>

  <H3>Your Artist Profile Pick. Use when your content is shared</H3>
  <p>Minimum of 200px by 200px please.</p>
	<div class="field">
		<%=f.file_field :logo %>
		<%=f.hidden_field :logo_cache %>
	</div>
	</br>
  <h2> For testing</h2>
  <div class="field">
    <%=f.label :url_slug %><br />
    <%=f.text_field :url_slug %>
  </div>

  <h2> So you can get paid!</h2>
  <div class="field">
    <%=f.label :pay_pal %><br />
    <%=f.text_field :pay_pal %>
  </div>


  <h2> Social </h2>
	<div class="field">
		<%=f.label :twitter_name %><br />
		<%=f.text_field :twitter_name %>
	</div>

	<div class="field">
		<%=f.label :social_title%><br />
		<%=f.text_field :social_title %>
	</div>


	<div class="field">
		<%=f.label "Facebook Page URL"%><br />
		<%=f.text_field :fb_page_url %>
	</div>

	<h2>Artist Info</h2>
	<div class="field">
		<%= f.label :city %><br />
		<%= f.text_field :city %>
	</div>
	<div class="field">
		<%= f.label :province %><br />
		<%= f.text_field :province %>
	</div>
	<div class="field">
		<%= f.label :country %><br />
		<%= f.text_field :country %>
	</div>
  <div class="field">
    <%= f.label :influence %><br />
    <%= f.text_area :influence %>
  </div>
  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :contact_info %><br />
    <%= f.text_area :contact_info %>
  </div>
  <div class="field">
    <%= f.label :date_founded %><br />
    <%= f.date_select :date_founded %>
  </div>
  <div class="field">
    <%= f.label :created_date %><br />
    <%= f.text_field :created_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
