<h1>Listing artists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url Slug</th>
    <th>City</th>
    <th>Province</th>
    <th>Influence</th>
    <th>Bio</th>
    <th>Contact info</th>
    <th>Date founded</th>
    <th>Created date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @artists.each do |artist| %>
  <tr>
    <td><%= artist.name %></td>
    <td><%= artist.url_slug %></td>
    <td><%= artist.city %></td>
    <td><%= artist.province %></td>
    <td><%= artist.country %></td>
    <td><%= artist.influence %></td>
    <td><%= artist.bio %></td>
    <td><%= artist.contact_info %></td>
    <td><%= artist.date_founded %></td>
    <td><%= artist.created_date %></td>
    <td><%= link_to 'Show', artist_link_path(artist.url_slug) %></td>
    <td><%= link_to 'Edit', edit_artist_path(artist.url_slug) %></td>
    <td><%= link_to 'Destroy', artist, :confirm => 'Are you sure?',:method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Artist', new_artist_path %>
<%= link_to 'Song List', songs_path %>
