<p id="notice"><%= notice %></p>
<section id="audio">
</section>
<p>
  <b>name:</b>
  <%= @artist.name %>
</p>

<p>
  <b>URL Slug</b>
  <%= @artist.url_slug %>
</p>

<p>
  <b>City:</b>
  <%= @artist.city %>
</p>

<p>
  <b>Province:</b>
  <%= @artist.province %>
</p>

<p>
  <b>Country:</b>
  <%= @artist.country %>
</p>

<p>
  <b>Influence:</b>
  <%= @artist.influence %>
</p>

<p>
  <b>Bio:</b>
  <%= @artist.bio %>
</p>

<p>
  <b>Contact info:</b>
  <%= @artist.contact_info %>
</p>

<p>
  <b>Date founded:</b>
  <%= @artist.date_founded %>
</p>

<p>
  <b>Created date:</b>
  <%= @artist.created_date %>
</p>


<p>
 <b>Songs</b>

<ul>
<% @artist.songs.uniq.each do |songs| %>
    <% unless songs.song_url_slug.blank?%>
    <li><%= link_to songs.song_name, artist_show_song_path(@artist.url_slug, songs.song_url_slug) %>
      <%= link_to "Play", download_url_for(songs.s3_id), :class => "html5" %></li>
  <% end %>
<% end %>
</ul>

</p>


<%= link_to 'Edit', edit_artist_path %>
<%= link_to 'Back', artists_path %>
