<!-- <% if @show_promo %>
<div id="promo" style="text-align:center;"><img src="/ronster.jpg" /></div>
<% end %> -->
<table><tbody><tr>
<td class="left-panel">
	<div>
		<img class="info-image" src="<%= @artist.image %>" alt="profile"/>
	</div>
	<div class="social">
		<% if @artist.twitter_name.blank? %>

		<% else %>
			<div>
				<a href="https://twitter.com/<%= @artist.twitter_name %>" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow
					<%= @artist.twitter_name %></a>
			</div>
		<% end %>
		<div class="fb-like" data-href="<%=@social_fb_url%>" data-send="false" data-width="225" data-show-faces="true"></div>
	</div>
</td>
<td class="row-border vat">
	<p class="bio"><%= @artist.bio %></p>
	<table cellpadding="10" class="w100"><tbody>
		<tr>
			<td class="info-item">Date founded:</td>
			<td class="item-description"><%= @artist.date_founded %></td>
		</tr>
		<tr>
			<td class="info-item">City:</td>
			<td class="item-description">
				<span class="editable" id="single_line" field_name="city" object="artist" >
					<%= @artist.city.html_safe %>
				</span>
			</td>
		</tr>
		<tr>
			<td class="info-item">Province:</td>
			<td class="item-description">
				<span class="editable" id="single_line" field_name="province" object="artist" >
					<%= @artist.province.html_safe %>
				</span>
			</td>
		</tr>
		<tr>
			<td class="info-item">Country:</td>
			<td class="item-description">
				<span class="editable" id="single_line" field_name="country" object="artist" >
					<%= @artist.country.html_safe %>
				</span>
			</td>
		</tr>
		<tr>
			<td class="info-item">Influence:</td>
			<td class="item-description">
				<span class="editable" id="text_area" field_name="influence" object="artist" >
					<%= @artist.influence.html_safe %>
				</span>
			</td>
		</tr>
		<tr>
			<td class="info-item">Contact info:</td>
			<td class="item-description">
				<span class="editable" id="single_line" field_name="contact_info" object="artist" >
					<%= @artist.contact_info.html_safe %>
				</span>
			</td>
		</tr>
	</tbody></table>
</td>
</tr></tbody></table>

