<p id="notice"><%= notice %></p>
<section id="audio">
</section>

 <% if can? :update, @artist %>
    <table>

        <td><%= link_to 'Admin', artist_admin_path(@artist.url_slug)%></td>
        <td><%= link_to 'Destroy', @artist, :method => :delete, :confirm => 'Are you sure?' %></td>

    </table>

 <% end %>

<h1>

  <%= @artist.name %>
</h1>

<p>
  <b>URL Slug</b>
  <%= @artist.url_slug %>
</p>

<p>
  <b>City:</b>
  <%= @artist.city %>
</p>


<p>
  <b>Province:</b>
  <%= @artist.province %>
</p>

<p>
  <b>Country:</b>
  <%= @artist.country %>
</p>

<p>
  <b>Influence:</b>
  <%= @artist.influence %>
</p>

<p>
  <b>Bio:</b>
  <%= @artist.bio %>
</p>

<p>
  <b>Contact info:</b>
  <%= @artist.contact_info %>
</p>

<p>
  <b>Date founded:</b>
  <%= @artist.date_founded %>
</p>

<p>
  <b>Created date:</b>
  <%= @artist.created_date %>
</p>


<p>
 <b>Songs</b>

<ul>
<% @artist.songs.uniq.each do |songs| %>
    <% unless songs.song_url_slug.blank?%>
    <li><%= link_to songs.song_name, artist_show_song_path(@artist.url_slug, songs.song_url_slug) %>
      <%= link_to "Play", download_url_for(songs.s3_id), :class => "html5" %></li>
  <% end %>
<% end %>
</ul>

<p>
 <b>Albums</b>

<ul>
<% @artist.albums.uniq.each do |albums| %>
    <% unless albums.album_url_slug.blank?%>
    <li><%= link_to albums.al_name, artist_show_album_path(@artist.url_slug,albums.album_url_slug) %>
    <% end %>
<% end %>
</ul>

</p>
<%= link_to 'Back', artists_path %>
<%= link_to 'Have download code?', code_download_path(@artist.url_slug) %>