<!-- puts the content into one div.  Stops yeild from double loading content.  I have no idea why, but it works -->
<div class="artist_content" xmlns="http://www.w3.org/1999/html" style="display:none;">

	<div class="div1a">

			<div class="social">
			<% if @artist.twitter_name.blank? %>

			<% else %>
			<a href="https://twitter.com/<%= @artist.twitter_name %>" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow
					<%= @artist.twitter_name %></a>
			<% end %>
				<div class="fb-like" data-href="<%=@social_fb_url%>" data-send="false" data-width="450" data-show-faces="true"></div>

			</div>

		<% if can? :update, @artist %>
			<table>

				<td><%= link_to 'Admin', artist_admin_path(@artist.url_slug) %></td>
				<!-- <td><%= link_to 'Destroy', @artist, :method => :delete, :confirm => 'Are you sure?' %></td> -->

			</table>

		<% end %>

		<h1>

			<%= @artist.name %>
		</h1>


		<div class="show_hide" rel="#info">
			<div class="button">

				<h2 >
					Info
				</h2>
				<!--  <button class="show_hide" href="#" rel="#sliding_div1">Show it</button> -->


			</div>
		</div>

		<div class="show_hide" rel="#songs">
			<div class="button">
				<h2>Songs</h2>
			</div>
		</div>

		<div class="show_hide" rel="#albums">
			<div class="button">

				<h2>Albums</h2>


			</div>
		</div>

		<%= link_to 'Have download code?', code_download_path(@artist.url_slug) %>  </br>
		<%= link_to 'More Artists', artists_path %>
		<%= link_to 'Social Promo', social_promo_path(:object => "album", :id => "4") %>




	</div>

<!--not sure if this is an extra div or not.-->
<!--</div>-->

<!-------------  Second Div ---------->


<!------------  Info Section ----->

<div class="toggleDiv" id="info"> <!--hides div -->
	<div class="div1ra">

		<div class="div2">


				<b>Date founded:</b>
				 <%= @artist.date_founded %>
				</br>
				</br>

				<b>City:</b>

			    <span class="editable" id="single_line" field_name="city" object="artist" >
					<%= @artist.city.html_safe %>
				</span>

				</br>
				</br>

				<b>Province:</b>
				<span class="editable" id="single_line" field_name="province" object="artist" >
					<%= @artist.province.html_safe %>
				</span>
				</br>
				</br>

				<b>Country:</b>
			    <span class="editable" id="single_line" field_name="country" object="artist" >
					<%= @artist.country.html_safe %>
				</span>
                </br>
			    </br>


				<b>Influence:</b>

			    <div class="editable" id="text_area" field_name="influence" object="artist" >
					<%= @artist.influence.html_safe %>
				</div>

				<b>Bio:</b>
			    <div class="editable" id="text_area" field_name="bio" object="artist" >
					<%= @artist.bio.html_safe %>
				</div>


				<b>Contact info:</b>
				<span class="editable" id="single_line" field_name="contact_info" object="artist" >
					<%= @artist.contact_info.html_safe %>
				</span>

				</br>
				</br>


		</div>
	</div>
</div>

<!-- Songs Section -->

<div class="toggleDiv" id="songs">     <!--hides div -->

	<div class="div1ra">
		<!-- <div class="div2">  -->


		<% @artist.songs.uniq.each_with_index do |song, index| %>

			<% unless song.song_url_slug.blank? %>
				<% unless song.s3_id.nil? %>

					<div class="div3">

						<div class="image">
							<h3>
								<a href="<%= download_url_for(song.s3_id) %>"
								   data-song-name="<%= song.song_name %>"
								   data-artist-name="<%= @artist.name %>"
								   data-song-id="<%= song.id %>"
								   class="music-button">Play </a>
							</h3></div>
						<h3><%= link_to song.song_name, artist_show_song_path(@artist.url_slug, song.song_url_slug), :class => "content-link" %>   </h3>

					</div>
				<% end %>
			<% end %>
		<% end %>


		<!-- </div> -->

	</div>
</div>

<!-- Albums Section -->
<div class="toggleDiv" id="albums">     <!--hides div -->
	<div class="div1ra">

		<% @artist.albums.uniq.each do |album| %>
			<% unless album.album_url_slug.blank? %>
				<div class="div3">
					<div class="image"><%=link_to "Play", album_playlist_create_path(@artist.url_slug, album.album_url_slug), :class =>"load-playlist" %></div>
					<h3><%= link_to album.al_name, artist_show_album_path(@artist.url_slug, album.album_url_slug), :class => "content-link" %>  </h3>

				</div>
			<% end %>
		<% end %>

	</div>
</div>



</div>
