<style>
    p {
        font-family: <%= @artist.profile_layout.p_font %>;
        font-size: <%= @artist.profile_layout.p_size %>pt;
        color: <%= @artist.profile_layout.p_colour %>;
    }

    h1 {
        font-family: <%= @artist.profile_layout.h1_font %>;
        font-size: <%= @artist.profile_layout.h1_size %>pt;
        color: <%= @artist.profile_layout.h1_colour %>;
        text-align: center;
    }

    h2 {
        font-family: <%= @artist.profile_layout.h2_font %>;
        font-size: <%= @artist.profile_layout.h2_size %>pt;
        color: <%= @artist.profile_layout.h2_colour %>;
        text-align: center;
    }

    h3 {
        font-family: <%= @artist.profile_layout.h3_font %>;
        font-size: <%= @artist.profile_layout.h3_size %>pt;
        color: <%= @artist.profile_layout.h3_colour %>;
        text-align: center;
    }

    ol {
        font-family: <%= @artist.profile_layout.p_font %>;
        font-size: <%= @artist.profile_layout.p_size %>pt;
    }

    ul {
        font-family: <%= @artist.profile_layout.p_font %>;
        font-size: <%= @artist.profile_layout.p_size %>pt;
    }

    table {
        font-face: <%= @artist.profile_layout.p_font %>;
        font-size: <%= @artist.profile_layout.p_size %>pt;
        color: <%= @artist.profile_layout.p_colour %>
    }

    .div1 {
        max-width: 400px;
        position: absolute;
        top: 5%;
        left: 5%;
        background-color: <%= @artist.profile_layout.div_1_background_colour %>;
        overflow: hidden;
        padding: 10px;
        border: <%= @artist.profile_layout.div_1_border_width %>px solid <%= @artist.profile_layout.div_1_border_colour %>;
        border-radius: 5px;
    }

    .div1a {
        display: block;
        float: left;
        overflow: hidden;
        margin-left: 10%;
        margin-top: 5%;
        max-width: 400px;
        background-color: <%= @artist.profile_layout.div_1_background_colour %>;
        padding: 10px;
        border: <%= @artist.profile_layout.div_1_border_width %>px solid <%= @artist.profile_layout.div_1_border_colour %>;
        border-radius: 5px;
    }

    .div1ra {
        margin-top: 5%;
        margin-left: 10%;
        display: block;
        float: left;
        overflow: hidden;
        max-width: 800px;
        min-width: 300px;
        background-color: <%= @artist.profile_layout.div_1_background_colour %>;
        padding: 10px;
        border: <%= @artist.profile_layout.div_1_border_width %>px solid <%= @artist.profile_layout.div_1_border_colour %>;
        border-radius: 5px;
    }

    .audio {
        position: fixed;
        top: 0;
        margin: 0 auto;
        background-color: #FFFFFF;
        width: 9999px;
        height: 50px
    }

    .button {
        margin: 2%;
        background-color: <%= @artist.profile_layout.div_2_background_colour %>;
        overflow: hidden;
        padding: 30px;
        border: <%= @artist.profile_layout.div_2_border_width %>px solid <%= @artist.profile_layout.div_2_border_colour %>;
        box-shadow: 3px 3px 7px #777;
        border-radius: 2px;
    }

    .div2 {
        margin: 2%;
        background-color: <%= @artist.profile_layout.div_2_background_colour %>;
        overflow: hidden;
        padding: 30px;
        border: <%= @artist.profile_layout.div_2_border_width %>px solid <%= @artist.profile_layout.div_2_border_colour %>;
        box-shadow: 3px 3px 7px #777;
        border-radius: 2px;
    }

    .div3 {
        width: 400px;
        height: 80px;
        margin: 30px;
        background-color: <%= @artist.profile_layout.div_2_background_colour %>;
        overflow: hidden;
        padding: 10px;
        border: <%= @artist.profile_layout.div_2_border_width %>px solid <%= @artist.profile_layout.div_2_border_colour %>;
        box-shadow: 3px 3px 7px #777;
        border-radius: 2px;
    }

    .image {
        float: left;
        width: 70px;
        height: 70px;
        margin: 1%;
        overflow: hidden;
        border: <%= @artist.profile_layout.div_2_border_width %>px solid <%= @artist.profile_layout.div_2_border_colour %>;
        box-shadow: 1px 1px 2px #777;
        border-radius: 2px;
    }

    .div1r {
        max-width: 1000px;
        min-width: 800px;
        position: absolute;
        top: 5%;
        right: 5%;
        background-color: <%= @artist.profile_layout.div_1_background_colour %>;
        overflow: hidden;
        padding: 10px;
        border: <%= @artist.profile_layout.div_1_border_width %>px solid <%= @artist.profile_layout.div_1_border_colour %>;
        border-radius: 5px;
    }

    .button:hover {
        background-color: blue;
    }

    .toggleDiv {
        display: none
    }
</style>

<body>

<script>
    $(function() {
        $.backstretch("<%=@artist.image_url.to_s%>");
    });

</script>


<script type="text/javascript">

    $(document).ready(function() {


        $('.show_hide').showHide({
            speed: 300,  // speed you want the toggle to happen
            easing: '',  // the animation effect you want. Remove this line if you dont want an effect and if you haven't included jQuery UI
            changeText: 0, // if you dont want the button text to change, set this to 0
            showText: 'View',// the button text to show when a div is closed
            hideText: 'Close' // the button text to show when a div is open

        });


    });
</script>

<!-- Master template -->
<script type="text/javascript">
    //<![CDATA[

   <!-- Global Varaibles for playing song in playlist with click -->
    var myPlaylist;
    var playlistSongs = [];
    var artistSongs = {};

   <!-- Initializes the play list -->
    function initializePlayList(newPlaylist){

        return new jPlayerPlaylist({
            jPlayer: "#jquery_jplayer_1",
            cssSelectorAncestor: "#jp_container_1"
        },
        newPlaylist,
        {
            swfPath: "../js",
            supplied: "mp3",
            wmode: "window"
        });
    }
     var DEBUGGING = true;
    $(document).ready(function() {

        myPlaylist = initializePlayList(playlistSongs);

      <!-- Click Handler to add song to playlist.  Songs are stored in Artists, Index's are assocated with songs -->
        $(".music-button").click(function(event) {
            event.preventDefault();

            <!-- Assigns varibles from click  -->
            var songName = $(this).attr('data-song-name');
            var artistName = $(this).attr('data-artist-name');

            <!-- checks to see if artist already exisits in the playlist -->
            if(artistSongs[artistName] == undefined)
                artistSongs[artistName] = {};
            <!-- Assigns the song index to varaible songindex, if it does not exist then become undefined and will be added below -->
            var songIndex =  artistSongs[artistName][songName];

            <!-- If undefined then will ad the song to the play list -->
            if(songIndex === undefined){
               <!-- Creates play list object and ads it to play list.  If you need to add more song attributes, or file types this is where you do it -->
                myPlaylist.add({
                    title : songName,
                    mp3: $(this).attr('href')
                });

            <!-- sets the song index. By take the length of the playist (with the song added see above) and subtracts 1 because index starts at 0, length starts at 1 -->
                songIndex = artistSongs[artistName][songName] = myPlaylist.playlist.length -1;
            }

            myPlaylist.play(songIndex);

        });




    <!-- var testFunc = function(){ }; -->
       <!-- Not called.  Need to call testFunc(). Can call in console. -->

        $(".album-link").click(function(event) {
            event.preventDefault();

        $.ajax({
            url : $(this).attr('href'),

            success: function(json){
                ted_log(json);

                $.each(json, function(key, value){
						$(key).html(value);
                });

            },
            dataType: "json"
        });
       });
     });

   function ted_log(json){
	if(typeof console !== undefined && DEBUGGING)
		console.log(json);
	else if(DEBUGGING)
		alert(json);
   }


</script>


<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jplayer_inspector_1"></div>

<div id="jp_container_1" class="jp-audio">
  <div class="jp-type-playlist">
    <div class="jp-gui jp-interface">
      <ul class="jp-controls">
        <li><a href="javascript:;" class="jp-previous" tabindex="1">previous</a></li>
        <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
        <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
        <li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
        <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
        <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
        <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
        <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
      </ul>
      <div class="jp-progress">
        <div class="jp-seek-bar">
          <div class="jp-play-bar"></div>

        </div>
      </div>
      <div class="jp-volume-bar">
        <div class="jp-volume-bar-value"></div>
      </div>
      <div class="jp-current-time"></div>
      <div class="jp-duration"></div>
      <ul class="jp-toggles">
        <li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>
        <li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>
        <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
        <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
      </ul>
    </div>
    <div class="jp-playlist">
      <ul>
        <li></li>
      </ul>
    </div>
    <div class="jp-no-solution">
      <span>Update Required</span>
      To play the media you will need to either update your browser to a recent version or update your
      <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
    </div>
  </div>
</div>


<p id="notice"><%= notice %></p>



<div class="div1a">

  <% if can? :update, @artist %>
      <table>

        <td><%= link_to 'Admin', artist_admin_path(@artist.url_slug) %></td>
        <!-- <td><%= link_to 'Destroy', @artist, :method => :delete, :confirm => 'Are you sure?' %></td> -->

      </table>

  <% end %>

  <h1>

    <%= @artist.name %>
  </h1>



  <div class="show_hide" rel="#info">
    <div class="button">


      <h2>
        Info
      </h2>
      <!--  <button class="show_hide" href="#" rel="#sliding_div1">Show it</button> -->


    </div>
  </div>

  <div class="show_hide" rel="#songs">
    <div class="button">

      <h2>Songs</h2>


    </div>
  </div>

  <div class="show_hide" rel="#albums">
    <div class="button">

      <h2>Albums</h2>


    </div>
  </div>

  <%= link_to 'Have download code?', code_download_path(@artist.url_slug) %>  </br>
  <%= link_to 'More Artists', artists_path %>

</div>


<!-------------  Second Div ---------->


<%= render "info" %>

<!-- Songs Section -->

<div class="toggleDiv" id="songs">     <!--hides div -->

  <div class="div1ra">
    <!-- <div class="div2">  -->


    <% @artist.songs.uniq.each_with_index do |song, index| %>

        <% unless song.song_url_slug.blank? %>

            <div class="div3">

              <div class="image">
                <h3><a href="<%= download_url_for(song.s3_id) %>" data-song-name="<%=song.song_name%>" data-artist-name="<%=@artist.name%>" class="music-button"> <%= song.song_name %> </a>
                </h3></div>
              <h3><%= link_to song.song_name, artist_show_song_path(@artist.url_slug, song.song_url_slug) %>   </h3>

            </div>
        <% end %>
    <% end %>


    <!-- </div> -->

  </div>
</div>

<!-- Albums Section -->
<div class="toggleDiv" id="albums">     <!--hides div -->
  <div class="div1ra" id="content">

    <% @artist.albums.uniq.each do |albums| %>
        <% unless albums.album_url_slug.blank? %>
            <div class="div3">
              <div class="image"></div>
              <h3><%= link_to albums.al_name,artist_show_album_path(@artist.url_slug,albums.album_url_slug),:class => "album-link"%>  </h3>

            </div>
        <% end %>
    <% end %>

  </div>
</div>
<section id="audio">
</section>


</body>