<style type="text/css">


</style>

<!--hides logo and nav when clicking in from an artist page-->
<script type="text/javascript" src="/javascripts/hide-logo-and-nav.js"></script>
<script type="text/javascript">

    window.onload = showCookies

    function showCookies() {
        var outMsg = "";

        //         checks if download cookie exists, if it does grabs link to download album
        var thisCookie = document.cookie.split("; ");
        var referrer = document.referrer
        for (var i=0;i<thisCookie.length;i++){

            var cookie_name = thisCookie[i].split("=")[0]
            var value = thisCookie[i].split("=")[1]

            if (value =="" && cookie_name =="next_step") {
                outMsg = "There are no cookies here.";
            }

            else if (cookie_name =="next_step"){
                outMsg += "Cookie name is '" + cookie_name;
                outMsg += "', and the value is " +
                        value + "<br />";
                var raw_link = thisCookie[i].split("=")[1];
                var link = raw_link.replace(/%3A/g,":" );
                var link = link.replace(/%2F/g, "/");
                var link = link + "?token=" + "<%= params[:token] %>" + "&PayerID=" + "<%= params[:PayerID]%>"


                outMsg += "clean link is " + link + " referal site" + referrer


                window.location = link
            }
        }

        if(document.getElementById("cookieData"))
          document.getElementById("cookieData").innerHTML = outMsg;


    }
    window.fbAsyncInit = function() {
      FB.init({
        appId: '433835590009360', 
        status: true, 
        cookie: true,
        xfbml: true
      });
    };
    (function() {
      var e = document.createElement('script'); e.async = true;
      e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
      document.getElementById('fb-root').appendChild(e);
    }());

    $(document).ready(function(){
      $('#share_button').click(function(e){
        e.preventDefault();
        var $el = $('#share_button');
        FB.ui({
          method: 'share',
          name: $el.attr('data-name'),
          link: $el.attr('data-url'),
          href: $el.attr('data-url'),
          picture: $el.attr('data-img'),
          caption: '',
          description: '',
          message: ''
        });
      });
    });

</script>
<div class="row-fluid">
    <div class="span12">

    <h3>Your download Should Begin Shortly</h3>


        <div class="row-fluid ">
          <div class="span12 text-center">

                <div class="span12 m10t text-center">
                  <h2>Share <%= @object_name %></h2>
                  <div id="fb-root"></div>
                  <div class="social-media-icons">
                    <a title="Share on Facebook" id="share_button" data-url="<%= @promo_url %>" data-via="Three Repeater" data-name="<%= @object_name %>" data-img="<%= @object_image %>">
                    <span data-icon="F"></span>
                  </a>              
                  <a data-icon="T" target="_black" href='https://twitter.com/share?text=Just downloaded <%=@object_name %> by <%=@artist.twitter_name%>. Check it out here&via=3rptr&url=<%=@promo_url %>' onclick="return !window.open(this.href, 'Twitter', 'width=640,height=400')"></a>
                </div>
         </div>
     </div>


      <div class="span12 text-center" style="margin-left:0px; margin-top:60px;">


          <%= link_to "Next", login_prompt_url, :class => "btn btn-default" %>



      </div>

    </div>
 </div>
</div>