<h1><%= @album.al_name %> </h1>
<h2>You have created <%= @artist.number_of_codes %> codes</h2>
<h2>You have <%= @codes_left %></h2>

<p>Attach your music to anything. The low cost DIY solution for downloads. </br>
	</br>
	Select how many download codes your need then: </p>

    <ul>
		<li>Email them </li>
		<li>Print lables - Here's some links to print your self or online - http://www.labelmakr.com/sheet/avery-5160/mail-merge-csv.html or http://dpo.print.avery.com/dpo7/app/CA_en/dpo.jsp?productCategoryId=1e7a947bf248363b561302e156a5ff04 </li>
		<li>Download Cards </li>
		<li>Write them on the back of your merch </li>
		<li>Put it pretty much anywhere.. </li>
	</ul>
</p>

<%= render 'form' %>

<h2>Download Keys</h2>
<p><%= link_to "Download CSV", album_create_code_path(format: "csv") %></p>

<ul>
 <% @album.album_codes.each do |t| %>
	<li><%= t.album_code %></li>

 <% end %>

</ul>


