<script type="text/javascript" src="/javascripts/hide-logo-and-nav.js"></script>

<div class="editPage">

	<h1><%= @album.al_name %> </h1>
	<h2>You have created <%= @artist.number_of_codes %> codes</h2>
	<h2>You have <%= @codes_left %></h2>

	<p>Attach your music to anything. </br>
		</br>
		Select how many download codes your need then: </p>

		<ul>
			<li>Email them </li>
			<li>Print lables - Here's some links to print your self or online - <a href="http://www.labelmakr.com/sheet/avery-5160/mail-merge-csv.html" target="_blank">www.lablemakr.com</a> or <a href="http://dpo.print.avery.com/dpo7/app/CA_en/dpo.jsp?productCategoryId=1e7a947bf248363b561302e156a5ff04" target="_blank">Avery.com</a> </li>
			<li>Download Cards </li>
			<li>Write them on the back of your merch </li>
			<li>Put it pretty much anywhere.. </li>
            <li>Redeem codes at www.threerepeater.com/<%=@artist.url_slug%>/download-code/***Code Here ***</li>
		</ul>
	</p>

	<%= @form.html_safe %>

	<h2>Download Keys</h2>
	<p><%= link_to "Download CSV", album_codes_csv_path(@album.id,format: "csv") %></p>

	<ul>
	 <% @album.album_codes.each do |t| %>
		<li><%= t.album_code %></li>

	 <% end %>

	</ul>
</div>

