Thank you for downloading <%= @album.al_name %>!
===============================================

Want more? Follow  <a href="https://twitter.com/<%= @artist.twitter_name %>" class="twitter-follow-button" data-show-count="false" data-lang="en"><%= @artist.twitter_name %></a>

Download here => <a href = "<%= @download_url %>"></a>

You can download this again, any time by logging into your your page => <a href ="<%= @user_url %>"></a>

Enjoy the music!
<%= @artist.name %>

This email is powered by Three Repeater.
The complete DIY Artist solution.
<a href="http://www.threerepeater.com" >www.threerepeater.com</a>

