<%= form_for @user, :url => url_for(:controller => 'users', :action => 'user_update'), :validate => true do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song .errors.count, "error") %> prohibited this song  from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%=f.label :first_name %><br />
    <%=f.text_field :first_name %>
  </div>

   <div class="field">
    <%=f.label :last_name %><br />
    <%=f.text_field :last_name %>
  </div>

  <div class="field">
    <%=f.label :Email %><br />
    <%=f.text_field :email %>
  </div>

  <div class="field">
    <%=f.label :pay_pal_email %><br />
    <%=f.text_field :pay_pal_email%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>