<div class="pageType" id="user"></div>

    <div class="editPage span10 offset1">

        <h1>Editing User</h1>


        <%= @form.html_safe %>


      <h2>Change your password</h2>

      <%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>

          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password %>
          </div>

          <div><%= f.label :password, "New password" %>
            <%= f.password_field :password,:class=>"span12" %></div>

          <div><%= f.label :password_confirmation, "Confirm new password" %>
            <%= f.password_field :password_confirmation,:class=>"span12" %></div>

          <div class="action_container"><%= f.submit "Change my password" %></div>
      <% end %>


    </div>
