<script type="text/javascript">
    window.onload = showCookies

    function showCookies() {
        var outMsg = "";


         var thisCookie = document.cookie.split("; ");

         for (var i=0;i<thisCookie.length;i++){

             var cookie_name = thisCookie[i].split("=")[0]
             var value = thisCookie[i].split("=")[1]

             if (value =="" && cookie_name =="next_step") {
                outMsg = "There are no cookies here.";
                }

             else if (cookie_name =="next_step"){
                outMsg += "Cookie name is '" + cookie_name;
                outMsg += "', and the value is " +
                value + "<br />";
                var raw_link = thisCookie[i].split("=")[1];
                var link = raw_link.replace(/%3A/g,":" );
                var link = link.replace(/%2F/g, "/");
                var link = link + "?token=" + "<%= params[:token] %>" + "&PayerID=" + "<%= params[:PayerID]%>"


                outMsg += "clean link is " + link


                window.location = link
                }
             }


            document.getElementById("cookieData").innerHTML = outMsg;



    }




</script>
<div id = "cookieData"></div>







<h1> <%= @user.email %> </h1>
<%= link_to "Edit", edit_user_path(@user.id) %>
<br />
<br />

<b>Created At: </b>
<%= @user.created_at %>
</br>

<b>Last Login: </b>
<%= @user.last_sign_in_at %>
</br>

<b>Number of Sign In's: </b>
<%= @user.sign_in_count %>

 <h2>
    <% @user.artists.uniq.each do |artist_name| %>
          <%= link_to artist_name.name, artist_link_path(artist_name.url_slug) %>     <%= link_to 'Admin', artist_admin_path(artist_name.url_slug)%>
          </br>

  <% end %>
 </h2>


<%= link_to "Artists List", artists_path %>