



	<!--<div id = "cookieData"></div>-->

	<div class= "userInfo">
		<br />
        <h1>User Admin</h1>
        <h2> <%= @user.email%> </h2>
		<h3>
		<%= link_to 'Create New Artist', new_artist_path %>  <br />

		<%= link_to "Promoted Artists", artists_path %>
		</h3>


		<p>
            Created At:
            <%= @user.created_at %>

			Last Login:
			<%= @user.last_sign_in_at %>
			<br />

			Number of Sign Ins:
			<%= @user.sign_in_count %>
			<br />

			First Name:
			<%= @user.first_name %>
			<br />

			Last Name:
			<%= @user.last_name %>
			<br />

			Email Associated with Pay Pal Account:
			<%= @user.pay_pal_email %>
			<br />
		</p>

        <%= link_to "Edit Your Info", edit_user_path(@user.id) %>   <br />
        <%= link_to "Sign out", destroy_user_session_path,:method => :delete %>


		<h2><% if @user.artists.length > 1 %>Artists<% else %>Artist<%end%> You Admin For </h2>
		<h4>
		  <% @user.artists.uniq.each do |artist_name| %>
			  <%= link_to artist_name.name, artist_link_path(artist_name.url_slug),:class => "content-link" %> : <%= link_to 'Admin', artist_admin_path(artist_name.url_slug),:class => "content-link" %>
			  </br>

		  <% end %>
		</h4>

		<% if @user.albums.length > 0 %>
			<h2> Albums You have Downloaded</h2>
			<h4>
			  <% @user.albums.uniq.each do |album| %>
                  <% if album.pri_artist.blank? || album.pri_artist.nil? %>

                  <% else %>
				     <% @artist = Artist.find_by_name(album.pri_artist) %>
				     <%= link_to album.al_name, artist_show_album_path(@artist.url_slug,album.album_url_slug),:class => "content-link"  %> :    <%= link_to 'Download Again', album_download_path(@artist.url_slug,album.album_url_slug, :redown => "true")%>
				      </br>
                  <% end %>

			  <% end %>
			</h4>
		<% end %>


	</div>



