<script type="text/javascript">
    window.onload = showCookies

    function showCookies() {
        var outMsg = "";

//         checks if download cookie exists, if it does grabs link to download album
         var thisCookie = document.cookie.split("; ");

         for (var i=0;i<thisCookie.length;i++){

             var cookie_name = thisCookie[i].split("=")[0]
             var value = thisCookie[i].split("=")[1]

             if (value =="" && cookie_name =="next_step") {
                outMsg = "There are no cookies here.";
                }

             else if (cookie_name =="next_step"){
                outMsg += "Cookie name is '" + cookie_name;
                outMsg += "', and the value is " +
                value + "<br />";
                var raw_link = thisCookie[i].split("=")[1];
                var link = raw_link.replace(/%3A/g,":" );
                var link = link.replace(/%2F/g, "/");
                var link = link + "?token=" + "<%= params[:token] %>" + "&PayerID=" + "<%= params[:PayerID]%>"


                outMsg += "clean link is " + link


                window.location = link
                }
             }


            document.getElementById("cookieData").innerHTML = outMsg;



    }




</script>


<div id = "cookieData"></div>



<h1><%= @current_action %> and <%= @current_controller %></h1>
<h1><%= @fuck%></h1>


<h1> <%= @user.email %> </h1>
<%= link_to "Edit", edit_user_path(@user.id) %>
<%#= link_to "Edit", edit_users_setting_path(@user.id) %>
<br />
<br />
<p>
<b>Created At: </b>
<%= @user.created_at %>
</br>

<b>Last Login: </b>
<%= @user.last_sign_in_at %>
</br>

<b>Number of Sign In's: </b>
<%= @user.sign_in_count %>
</br>

<b>First Name: </b>
<%= @user.first_name %>
</br>

<b>Last Name: </b>
<%= @user.last_name %>
</br>

<b>Email Associated with Pay Pal Account: </b>
<%= @user.pay_pal_email %>
</br>
</p>

<h2> Artist You Admin For </h2>
<h3>
  <% @user.artists.uniq.each do |artist_name| %>
      <%= link_to artist_name.name, artist_link_path(artist_name.url_slug) %>     <%= link_to 'Admin', artist_admin_path(artist_name.url_slug)%>
      </br>

  <% end %>
</h3>

<h2> Albums You have Downloaded already </h2>

<h3>
  <% @user.albums.uniq.each do |album| %>
      <% @artist = Artist.find_by_name(album.pri_artist) %>
      <%= link_to album.al_name, artist_show_album_path(@artist.url_slug,album.album_url_slug) %>     <%= link_to 'Download Again', album_download_path(@artist.url_slug,album.album_url_slug, :redown => "true")%>
      </br>

  <% end %>
</h3>


<%= link_to "Artists List", artists_path %>


