<h2>Info</h2>

<%=form_for @song,:url => "/songs/create", :html => {:multipart => true},:html => {:class => 'ajax_update'}, :validate => true do |f| %>

    <h2>Ready!!!  <%= @id %></h2>

   <!--<%= f.file_field :s3_name%>-->

   <div class="field">
     <%= f.label :song_name %>
     <%= f.text_field :song_name %>
   </div>

  <div class="field">
    <%= f.label :song_artist %><br />
    <%= f.text_field :song_artist, :value => @artist.name %>
  </div>

  <div class="field">
    <%=f.label :song_contribute_artist %><br />
    <%=f.text_field :song_contribute_artist %>
  </div>

  <div class="field">
    <%= f.label :song_written %><br />
    <%= f.text_field :song_written %>
  </div>
  <div class="field">
    <%= f.label :song_licence_type %><br />
    <%= f.select :song_licence_type, [["CopyWrite", "copywrite"], ["Licence 1", "licence_1"], ["Licence 2", "licence_2"] ] %>
  </div>
  <div class="field">
    <%= f.label :song_licence_date %><br />
    <%= f.date_select :song_licence_date, :start_year => 1900   %>
  </div>
  <div class="field">
    <%= f.label :song_plays %><br />
    <%= f.text_field :song_plays %>
  </div>
   <div class="field">
    <%= f.label :song_url_slug %><br />
    <%= f.text_field :song_url_slug %>
  </div>
  <div class="field">
    <%= f.label :lyrics %><br />
    <%= f.text_area :lyrics %>
  </div>

  <div class="actions">
    </div>
    <%= f.submit "Upload" %>
    <input id="artist_id" name="artist_id" type="hidden" value="<%=@artist_id %>" />
    <input id="form_song_id" name="form_song_id" type="hidden" value="<%= @song.id %>" />

  </div>
<% end %>
