<%= form_for @song ,:html => {:class => "ajax_update" }, :validate => true do |f| %>
  <% if @song .errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song .errors.count, "error") %> prohibited this song  from being saved:</h2>

      <ul>
      <% @song .errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :song_name %><br />
    <%= f.text_field :song_name, :class=>"span12" %>
  </div>

  <div class="field">
    <%= f.label :song_artist %><br />
    <%= f.text_field :song_artist, :value => @artist.name,:class=>"span12"  %>
  </div>

  <div class="field">
    <%=f.label :song_contribute_artist %><br />
    <%=f.text_field :song_contribute_artist,:class=>"span12" %>
  </div>

  <div class="field">
    <%= f.label :song_written %><br />
    <%= f.text_field :song_written,:class=>"span12" %>
  </div>
  <div class="field">
    <%= f.label :song_licence_type %><br />
    <%= f.text_field :song_licence_type,:class=>"span12" %>
  </div>
  <div class="field">
    <%= f.label :song_licence_date %><br />
    <%= f.date_select :song_licence_date, :start_year => 1900   %>
  </div>

  <div class="field">
    <%= f.label :lyrics %><br />
    <%= f.text_area :lyrics, :escape => false,:class=>"span12",:rows => "5" %>
  </div>

   <div class="actions">
    <%= f.submit :class=>"btn btn-default"%>
  </div>

    <input id="artist_id" name="artist_id" type="hidden" value="<%=@song.s_a_id %>" />
    <input id="form_song_id" name="form_song_id" type="hidden" value="<%= params[:id] %>" />

<% end %>



