<span class="close" style="position:absolute; top:10px; right:10px;"></span>
<div class="buy_header" style="padding: 15px;text-transform: uppercase; font-weight:600">Name Your Price </div>

<form accept-charset="UTF-8" action="<%=payment_method_path(@artist.url_slug,"song",@song.id )%>" class="pwyc_form" enctype="multipart/form-data" data-validate="true"  method="post" novalidate="novalidate"><div><input name="utf8" type="hidden" value="&#x2713;" />


  <input name="authenticity_token" id="token" type="hidden" value=""/></div>

  <table style="width:100%;margin:60px auto;">
    <tr>
      <td class="clearfix" style="width:100%;text-align:center;">
        <span>$</span>
        <input style="margin-bottom: 0;" id="amount" name="amount" type="text" size="3" data-minValue="<%=@song.amount%>" value="<%=@song.amount%>" />
        <div style="font-size: 80%" >avg amount $2</div>
      </td>
    </tr>
    <tr>

       <td style="padding:40px 30px;text-align: right;">
            <button name="commit" type="submit" class="id_make-purchase">Buy Now</button>
       </td>
    </tr>
  </table>

  <!--For order processing-->

  <!--defines the type of object it is-->
  <input id="url_slug" name="url_slug" type="hidden" value="<%= @artist.url_slug %>" />
  <input id="object" name="object" type="hidden" value="song" />
  <input id="song_album_or_event_id" name="song_album_or_event_slug" type="hidden" value="<%=@song.id%>" />
</form>

<script type="text/javascript">

    $(function(){
        var token = $('meta[name="csrf-token"]').attr('content');
        $("#token").val(token);
    });

    $(function() {
        $('input[type="text"]').keyup(function() {
          if(!parseInt($(this).val()) || parseInt($(this).val()) < parseInt($(this).attr('data-minValue')))
            $('button[type="submit"]').attr('disabled','disabled');
          else
            $('button[type="submit"]').removeAttr('disabled');
        });
    });

    $('.close').click(function(){
        $('#dialogWindow').remove();
        $('#overlay').remove();
    });
</script>



