<h1>Songs#index</h1>

<h2>Listen to a MP3 with HTML5 Audio</h2>
<section id="audio">
</section>
  <h2>Upload a new MP3:</h2>
<%= form_tag upload_path, :method => "post",  :multipart => true, :remote =>true do %>
    <%= file_field_tag "mp3file" %>
    <%= submit_tag "Upload" %>

<% end %>


<h2>Download and Delete Existing MP3</h2>
<table>
  <% @s3_songs.each do |song| %>
    <tr>
    <td><%= song.key %> </td>
    <td><%=link_to "Download", download_url_for(song.key) %></td>
    <td><%=link_to "Torrent", torrent_url_for(song.key)%></td>
    <td><%=link_to "HTML5 Audio", download_url_for(song.key), :class => "html5" %></td>
    <td><%= link_to "Delete",  "songs/delete/?song=" + song.key, :confirm => 'Are you sure you want to delete ' + song.key + '?' %></td>
   </tr>
  <% end %>
</table>


<h1>Listing songs</h1>

<table>
  <tr>
    <th>Song Name </th>
    <th>Song Artist</th>
    <th>Artist Name</th>
    <th>Contributing Artists</th>
    <th>Written By:</th>
    <th>Licence Type</th>
    <th>Licence Date</th>
    <th>Licence Date</th>
    <th>Number of Plays</th>
    <th>Url Slug</th>
    <th>Lyrics</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.song_name %></td>
    <td><%= song.song_artist%></td>
    <% song.artists.uniq.each do |artist_name| %>
          <td><%= artist_name.name %></td>
    <% end %>
    <td><%= song.song_contribute_artist %></td>
    <td><%= song.song_written %></td>
    <td><%= song.song_licence_type %></td>
    <td><%= song.song_licence_date %></td>
    <td><%= song.song_plays %></td>
    <td><%= song.song_url_slug %></td>
    <td><%= song.lyrics%></td>
    <td><%= link_to 'Show', song %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Destroy', song, :confirm => 'Are you sure?', :method => :destory %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_song_path %>
<%= link_to 'Artist List', artists_path%>
