<h2>Here are my songs</h2>

<% @artist.songs.uniq.each_with_index do |song, index| %>

	<% unless song.song_url_slug.blank? %>
		<% unless song.s3_id.nil? %>

			<div class="div3">

				<div class="image">
					<h3>
						<a href="<%= download_url_for(song.s3_id) %>"
						   data-song-name="<%= song.song_name %>"
						   data-artist-name="<%= @artist.name %>"
						   data-song-id="<%= song.id %>"
						   class="music-button">Play </a>
					</h3></div>
				<h3><%= link_to song.song_name, artist_show_song_path(@artist.url_slug, song.song_url_slug), :class => "content-link" %>   </h3>

			</div>
		<% end %>
	<% end %>
<% end %>