<div id="song-content">
<table cellpadding="10" class="song-table">
	<thead>
		<tr>
			<td></td>
			<td>SONG TITLE</td>
			<td>ALBUM TITLE</td>
			<td>TIME</td>
			<td></td>
		</tr>
	</thead>
	<tbody class="row-border">
	<% @artist.songs.uniq.each_with_index do |song, index| %>

		<% unless song.song_url_slug.blank? %>
			<% unless song.s3_id.nil? %>

				<tr>
					<td style="max-width:60px;"><a href="<%= download_url_for(song.s3_id) %>"
							   data-song-name="<%= song.song_name %>"
							   data-artist-name="<%= @artist.name %>"
							   data-song-id="<%= song.id %>"
							   class="music-button"><% if song.image.nil? %>PLAY 
								<% else %>
								<img src="<%=song.image %>" style="max-width:100px;"/><% end %></a></td>
					<td><%= link_to song.song_name, artist_show_song_path(@artist.url_slug, song.song_url_slug), :class => "content-link" %> </td>
					<td><%= @artist.albums[@artist.albums.find_index {|item| item.id == song.s_a_id}].al_name %></td>
					<td>SONG LENGTH</td>
					<td><img src="../../../images/btn-buy.png"/></td>
				</tr>
			<% end %>
		<% end %>
	<% end %>
</tbody></table>
</div>
<div class="song-footer"><span><%= @artist.songs.count %> Total Song<%= @artist.songs.count == 1 ? "" : "s" %>, <%= @artist.albums.count %> </span></div>
