
<div class="editPage">

<h1>Update Song Info this is the form</h1>
<p> Song ID: <%= @song.id %>   </br>
  S3_id: <%= @song.s3_id %> </p>


<h2>Upload Song</h2>

	<%= @s3_upload.html_safe %>

<h2>Upload Image</h2>
	<%= @song_image_upload.html_safe %>

<h2>Info </h2>


	<%= @form.html_safe %>

</br>

<%= link_to 'Back', artists_path %>

</div>