<p id="notice"><%= notice %></p>
<h1>
    <% @song.artists.uniq.each do |artist_name| %>
          <td><%= link_to artist_name.name, artist_link_path (artist_name.url_slug) %></td>
    <% end %></h1>

<p>
  <b>Song:</b>

  <%= link_to @song.song_name, download_url_for(@song.s3_id), :class => "html5" %> </br>
</p>

<section id="audio">
</section>


<p>
  <b>S3 name:</b>
  <%= @song.s3_id %>
</p>

<p>
  <b>S_A_ID</b>
  <%= @song.s_a_id %>
</p>

<p>
  <b>Song Artist</b>
  <%= @song.song_artist %>
</p>

<p>
  <b>Url Slug</b>
  <%= @song.song_url_slug %>
</p>

<p>
  <b>Contributing Artist</b>
  <%= @song.song_contribute_artist %>
</p>

<p>
  <b>Written By</b>
  <%= @song.song_written %>
</p>

<p>
  <b>Licence Type:</b>
  <%= @song.song_licence_type %>
</p>

<p>
  <b>Licence Date </b>
  <%= @song.song_licence_date %>
</p>

<p>
  <b>Song Plays</b>
  <%= @song.song_plays%>
</p>

<p>
  <b>Lyrics</b>
  <%= @song.lyrics %>
</p>


<p>
  <b>Song Download Link</b>
  <%= download_url_for(@song.s3_id) %>   </br>
  <b>stored download link:</b>
  <%= @song.download_link %>    </br>
  <b>stored torrent link:</b>
  <%= @song.torrent_link %>    </br>
</p>


<%=link_to "Download", download_url_for(@song.s3_id) %> </br>
<%= link_to "Torrent", torrent_url_for(@song.s3_id) %>  </br>



<%= link_to 'Edit', edit_song_path(@song.id) %> |
<%= link_to 'Back', songs_path %>
