<table><tbody><tr>
<td class="left-panel">
	<div>
		<img style="max-width:300px;" src="<%=@song.image.to_s %>"/>
	</div>
	<div class="social">
		<% if @artist.twitter_name.blank? %>

		<% else %>
			<div>
				<a href="https://twitter.com/share" class="twitter-share-button"  data-text="Check out <%=@song.song_name %> by <%=@artist.twitter_name%>"  data-url="<%=artist_show_song_url(@artist.url_slug, @song.song_url_slug)%>" data-via="3rptr" data-lang="en" data-size="large" data-count="none" data-lang="en" data-related="3rptr">Tweet</a>
			</div>
		<% end %>
	<div class="fb-like" data-href="<%=@social_fb_url%>" data-send="false" data-width="450" data-show-faces="true"></div>
	</div>
</td>
<td class="row-border vat">
	<p><% @song.artists.uniq.each do |artist_name| %>
        <%= link_to artist_name.name, artist_link_path(artist_name.url_slug), class:"content-link" %>
    	<% end %> - 
    	<a href="<%= download_url_for(@song.s3_id) %>" data-song-name="<%=@song.song_name%>" data-artist-name="<%=@song.song_artist%>" class="music-button"> <%= @song.song_name %> </a></br>
	</p>
	<table cellpadding="10" class="w100"><tbody>
		<tr>
			<td class="info-item">Written By:</td>
			<td class="item-description"><span class="editable" id="single_line" field_name="song_written" object="song" >
 	     <%= @song.song_written.html_safe %>
   </span></td>
		</tr>
		<tr>
			<td class="info-item">Song Plays:</td>
			<td class="item-description">
				<%= @song.song_plays%>
			</td>
		</tr>
		<tr>
			<td class="info-item">Created Date:</td>
			<td class="item-description">
				<%= @song.created_at.strftime("%d %b %Y") %>	
			</td>
		</tr>
		<tr>
			<td class="info-item">Lyrics:</td>
			<td class="item-description">
			  <div class="editable" id="text_area" field_name="lyrics" object="song" >
			    	<%= @song.lyrics.html_safe %>
			  </div>
			</td>
		</tr>
	</tbody></table>
</td></tr>
<tr><td></td><td>

  <h2>Want it? Get it!</h2>

  <!--gets csrf token and passes into hidden field.  Keeps user logged in after form post-->

  <script type="text/javascript">
      $(function(){
          var token = $('meta[name="csrf-token"]').attr('content');
          $("#token").val(token);
      });
  </script>

  <form accept-charset="UTF-8" action="<%=payment_method_path(@artist.url_slug,"song",@song.id )%>" class="pwyc_form" enctype="multipart/form-data" data-validate="true"  method="post" novalidate="novalidate"><div><input name="utf8" type="hidden" value="&#x2713;" />


    <input name="authenticity_token" id="token" type="hidden" value=""/></div>


    <label for="amount">Amount</label>
    <input id="amount" name="amount" type="text" size="3" value="<%=@song.amount%>" />
    <button name="commit" type="submit" class="fancyButton">Download</button>

    <!--For order processing-->

    <!--defines the type of object it is-->
    <input id="url_slug" name="url_slug" type="hidden" value="<%= @artist.url_slug %>" />
    <input id="object" name="object" type="hidden" value="song" />
    <input id="song_album_or_event_id" name="song_album_or_event_slug" type="hidden" value="<%=@song.id%>" />
  </form>

</td>
</tr></tbody></table>

<p id="notice"><%= notice %></p>
<div class="song">
<% if can? :update, @artist %>
    <table>
    	<tr>
	        <td><%= link_to 'Edit', edit_song_path(@song.id)%></td>
	        <td><%= link_to 'Destroy', @song, :method => :delete, :confirm => 'Are you sure?' %></td>
		</tr>
    </table>
 <% end %> 
</div>



<!--    
	<p>
		<b>(not predominate)Licence Type:</b>
		<%= @song.song_licence_type %>
	</p>






    <p>
 <b>(maybe) Where it was releasesd</b>

<ul>
<% @song.albums.uniq.each do |albums| %>
    <% unless albums.album_url_slug.blank?%>
       <%  albums.artists.uniq.each do |artist|  %>
        <li><%= link_to albums.al_name, artist_show_album_path(artist.url_slug,albums.album_url_slug), class:"content-link" %> by <%= link_to artist.name, artist_link_path(artist.url_slug), class:"content-link" %>
      <% end %>
    <% end %>
<% end %>
</ul>

</p>

	<p>
		<b>(maybe_Song Artist</b>
		<%= @song.song_artist %>
	</p>

	<p>
		<b>(not shown?)Licence Date </b>
		<%= @song.song_licence_date %>
	</p>

	<b>(maybe)Contributing Artist:</b>
  <span class="editable" id="single_line" field_name="song_contribute_artist" object="song" >
         <%= @song.song_contribute_artist.html_safe %>
  </span>

	<p>
		<b>(For testing)S_A_ID</b>
		<%= @song.s_a_id %>
	</p>

	<p>
		<b>(for testing) Song Download Link</b>
		<%= download_url_for(@song.s3_id) %>   </br>
	</p>

	<p>
		<b>(For testing)ID</b>
		<%= @song.id %>
	</p>

	<p>
		<b>(for testing) S3 name:</b>
		<%= @song.s3_id %>
	</p>

	<p>
		<b>(for test) Url Slug:</b>
		<%= @song.song_url_slug %>
	</p>

</div> -->