<p id="notice"><%= notice %></p>
<div class="div1ra">
 <% if can? :update, @artist %>
    <table>

        <td><%= link_to 'Edit', edit_song_path(@song.id)%></td>
        <td><%= link_to 'Destroy', @song, :method => :delete, :confirm => 'Are you sure?' %></td>

    </table>

  <% end %>

<h2>
    <% @song.artists.uniq.each do |artist_name| %>

          <td><%= link_to artist_name.name, artist_link_path(artist_name.url_slug), class:"content-link" %></td>
    <% end %></h2>

<h1>

   <a href="<%= download_url_for(@song.s3_id) %>" data-song-name="<%=@song.song_name%>" data-artist-name="<%=@song.song_artist%>" class="music-button"> <%= @song.song_name %> </a></br>

</h1>

<section id="audio">
</section>


<p>
  <b>S3 name:</b>
  <%= @song.s3_id %>
</p>
<div class="social">
<a href="https://twitter.com/share" class="twitter-share-button"  data-text="Check out <%=@song.song_name %> by <%=@artist.twitter_name%>"  data-url="<%=artist_show_song_url(@artist.url_slug, @song.song_url_slug)%>" data-via="3rptr" data-lang="en" data-size="large" data-count="none" data-lang="en">Tweet</a>
</div>

<p>
  <b>S_A_ID</b>
  <%= @song.s_a_id %>
</p>

<p>
  <b>Song Artist</b>
  <%= @song.song_artist %>
  </p>

<p>
  <b>Url Slug</b>
  <%= @song.song_url_slug %>
</p>

<p>
  <b>Contributing Artist</b>
  <%= @song.song_contribute_artist %>
</p>

<p>
  <b>Written By</b>
  <%= @song.song_written %>
</p>

<p>
  <b>Licence Type:</b>
  <%= @song.song_licence_type %>
</p>

<p>
  <b>Licence Date </b>
  <%= @song.song_licence_date %>
</p>

<p>
  <b>Song Plays</b>
  <%= @song.song_plays%>
</p>

<p>
  <b>Lyrics</b>
  <%= @song.lyrics %>
</p>


<p>
  <b>Song Download Link</b>
  <%= download_url_for(@song.s3_id) %>   </br>
  <b>stored download link:</b>
  <%= @song.download_link %>    </br>
  <b>stored torrent link:</b>
  <%= @song.torrent_link %>    </br>
</p>

	<%  if can? :create, @artist%>
    <%=link_to "Download", download_url_for(@song.s3_id) %> </br>
    <%= link_to "Torrent", torrent_url_for(@song.s3_id) %>  </br>
<% else %>
  <h2>  <%= link_to "Sign In", user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %>  to Download </h2>

<%end %>

    <p>
 <b>Where it was releasesd</b>

<ul>
<% @song.albums.uniq.each do |albums| %>
    <% unless albums.album_url_slug.blank?%>
       <%  albums.artists.uniq.each do |artist|  %>
        <li><%= link_to albums.al_name, artist_show_album_path(artist.url_slug,albums.album_url_slug), class:"content-link" %> by <%= link_to artist.name, artist_link_path(artist.url_slug), class:"content-link" %>
      <% end %>
    <% end %>
<% end %>
</ul>

</p>

</div>