
<%= form_for @album, :html => {:multipart => true}, :validate => true do |f| %>

  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%= f.label :al_name %><br />
    <%= f.text_field :al_name %>
  </div>

	<h2>Your Art Work</h2>
	<p>Minimum of 200px by 200px please.</p>
	<div class="field">
		<%=f.file_field :art %>
		<%=f.hidden_field :art_cache %>
	</div>

	<div class="field">
		<%= f.label "Album Description - Used when people share it"  %><br />
		<%= f.text_field :description %>
	</div>

  <div class="field">
    <%=f.label "Type" %><br />
    <%=f.select :al_type, [["Album", "album"], ["Set", "set"], ["EP", "ep"],["Track List", "track_list"] ] %>
  </div>







  <div class="field">
    <%= f.label "Primary Artist" %><br />
    <%= f.text_field :pri_artist,  :value => @artist.name%>
  </div>
  <div class="field">
    <%= f.label "Contributing Artist" %><br />
    <%= f.text_field :contrib_artist %>
  </div>
  <div class="field">
    <%= f.label "Copywrite"  %><br />
    <%= f.text_field :al_copy_write %>
  </div>
  <div class="field">
    <%= f.label "Release Date" %><br />
    <%= f.date_select :al_rel_date, :start_year => 1900 %>
  </div>
  <h2>Payment Options</h2>

  <% if @artist.pay_pal.blank? %>

    <div class="field">
    <%= f.label "Payment Type" %>  No Paypal account on primary Artist. <br />
    <%=f.select :pay_type, [["Free", "free"]] %>
  </div>
  <% else %>
      <div class="field">
        <%= f.label "Payment Type" %><br />
        <%=f.select :pay_type, [["Free", "free"], ["PWYC", "pwyc"], ["Pay", "pay"] ] %>
      </div>

    <div class="field">
        <%= f.label "Amount" %><br />
        <%= f.text_field :al_amount, :size => 2%>
  </div>
  <% end %>


  <h2>More Info </h2>
  <div class="field">
    <%= f.label "Producer" %><br />
    <%= f.text_field :producer %>
  </div>
  <div class="field">
    <%= f.label "Engineer"  %><br />
    <%= f.text_field :al_producer %>
  </div>

  <div class="field">
    <%= f.label "Liner Notes"  %><br />
    <%= f.text_area :liner_notes %>
  </div>

  <b>Songs</b>

<div class="field">

<ul>

<% @artist.songs.uniq.each do |s| %>
    <% unless s.song_url_slug.blank?%>
        <% unless s.s3_id.nil? %>
          <li><%= link_to s.song_name, artist_show_song_path(@artist.url_slug, s.song_url_slug) %>
          <%= link_to "Play", download_url_for(s.s3_id), :class => "html5" %>
          <%=check_box_tag "album_songs[songs_id][]", s.id, @song_ids.include?(s.id) %>
          </li>
        <% end %>
  <% end %>
<% end %>
</ul>
 <%= hidden_field_tag(:url_slug, @artist.url_slug  ) %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
