
<%=form_for @album, :html => {:multipart => true}, :html => {:class => "ajax_update"}, :validate => true do |f| %>



  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <h3>Choose Songs for Album</h3>

    <div class="field">
      <% @artist.songs.uniq.each do |s| %>
          <% unless s.song_url_slug.blank?%>
              <% unless s.s3_id.nil? %>
                  <label class="checkbox">
                    <%=check_box_tag "album_songs[songs_id][]", s.id, @song_ids.include?(s.id) %>
                    <%= s.song_name %>
                    <%= link_to "- Play", download_url_for(s.s3_id), :class => "html5" %>
                  </label>
              <% end %>
          <% end %>
      <% end %>

      <%= hidden_field_tag(:url_slug, @artist.url_slug  ) %>
    </div>

    <h3>Album Info</h3>


<div class="field">
    <%= f.label "Album Name" %>
    <%= f.text_field :al_name, :validate => { :valid => true },:class=>"span12" %>
  </div>

	<div class="field">
		<%= f.label "Social Description: Message when shared on twitter or facebook"  %>
		<%= f.text_field :description,:class=>"span12" %>
	</div>

  <!--<div class="field">-->
    <!--<%=f.label "Type" %>-->
    <!--<%=f.select :al_type, [["Album", "album"], ["Set", "set"], ["EP", "ep"],["Track List", "track_list"] ],:class=>"span12" %>-->
  <!--</div>-->


  <div class="field">
    <%= f.label "Artist" %>
    <%= f.text_field :pri_artist,  :value => @artist.name,:class=>"span12"%>
  </div>

  <div class="field">
    <%= f.label "Copyright"  %>
    <%= f.select :al_copy_write, options_for_select([['All Rights Reserved'], ['Attribution'], ['Non Commercial'], ['No Derivative Works'], ['Share A Like']], :selected => @album.al_copy_write) %>
  </div>
  <div class="field">
    <%= f.label "Release Date" %>
    <%= f.date_select :al_rel_date, :start_year => 1900 %>
  </div>
  <h3>Payment Options</h3>

    <div class="field">
        <%= f.label "Minimum Amount" %>
        <%= f.text_field :al_amount, :size => 2%>
    </div>


  <h3>Album Details</h3>
  <div class="field">
    <%= f.label "Producer" %>
    <%= f.text_field :producer,:class=>"span12" %>
  </div>
  <div class="field">
    <%= f.label "Engineer"  %>
    <%= f.text_field :al_producer,:class=>"span12" %>
  </div>

  <div class="field">
    <%= f.label "Liner Notes"  %>
    <%= f.text_area :liner_notes,:class=>"span12",:rows=>"5" %>
  </div>

    <div class="field">
      <%= f.label "Label"  %>
      <%= f.text_field :al_label,:class=>"span12",:rows=>"5" %>
    </div>





    <br/>
  <div class="actions">
    <%= f.submit :class=>"btn btn-default" %>
  </div>
<% end %>
