<%= form_for @album, :validate => true do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%= f.label "Name" %><br />
    <%= f.text_field :al_name %>
  </div>



  <div class="field">
    <%=f.label "Type" %><br />
    <%=f.select :al_type, [["Album", "album"], ["Set", "set"], ["EP", "ep"],["Track List", "track_list"] ] %>
  </div>

  <div class="field">
    <%= f.label "Primary Artist" %><br />
    <%= f.text_field :pri_artist,  :value => @artist.name%>
  </div>
  <div class="field">
    <%= f.label "Contributing Artist" %><br />
    <%= f.text_field :contrib_artist %>
  </div>
  <div class="field">
    <%= f.label "Copywrite"  %><br />
    <%= f.text_field :al_copy_write %>
  </div>
  <div class="field">
    <%= f.label "Release Date" %><br />
    <%= f.date_select :al_rel_date, :start_year => 1900 %>
  </div>
  <h2>Payment Options</h2>
  <div class="field">
    <%= f.label "Payment Type" %><br />
    <%=f.select :pay_type, [["Free", "free"], ["PWYC", "pwyc"], ["Pay", "pay"] ] %>
  </div>
  <div class="field">
    <%= f.label "Amount" %><br />
    <%= f.text_field :al_amount, :size => 2%>
  </div>

  <h2>More Info </h2>
  <div class="field">
    <%= f.label "Producer" %><br />
    <%= f.text_field :producer %>
  </div>
  <div class="field">
    <%= f.label "Engineer"  %><br />
    <%= f.text_field :al_producer %>
  </div>

  <div class="field">
    <%= f.label "Liner Notes"  %><br />
    <%= f.text_area :liner_notes %>
  </div>

<%=check_box_tag 'rock', 'rock music' %> rock </br>

  <b>Songs</b>

</br>
  <section id="audio">
</section>

<div class="field">

<ul>

<% @artist.songs.uniq.each do |s| %>
    <% unless s.song_url_slug.blank?%>
    <li><%= link_to s.song_name, artist_show_song_path(@artist.url_slug, s.song_url_slug) %>
      <%= link_to "Play", download_url_for(s.s3_id), :class => "html5" %>
      <%=check_box_tag "album_songs[songs_id][]", s.id, @song_ids.include?(s.id) %>
       </li>

  <% end %>
<% end %>
</ul>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
