<p id="notice"><%= notice %></p>

<h2>
    <% @album.artists.uniq.each do |artist_name| %>
          <td><%= link_to artist_name.name, artist_link_path(artist_name.url_slug) %></td>
    <% end %>
</h2>

<h1>
  <%= @album.al_name %>

</h1>


<section id="audio">
</section>


<h3><%= link_to "Download",album_download_path(@artist.url_slug,@album.id) %></h3>



<p>

  <b> Artist ID </b>
  <%= @album.al_a_id %>
 </p>

<h2>Want it? Get it!</h2>

    <% if @album.pay_type = "pay" %>

        <%= link_to "Buy Now:", payment_method_path("album",@artist.url_slug,@album.album_url_slug ) %>


    <% else %>

        <h3><%= link_to "Download Free",album_download_path(@artist.url_slug,@album.id) %></h3>
    <% end %>








<p>
 <b>Album Name:</b>
 <%= @album.al_name%>
 </p>

<p>
 <b>Album ID:</b>
 <%= @album.id%>
 </p>


 <p><b>Album Type:</b>
 <%= @album.al_type%>
 </p>
 <p>
 <b>Primary Artist:</b>
 <%= @album.pri_artist%>
 </p>

 <p>
 <b>Contributing Artist:</b>
 <%= @album.contrib_artist%>
 </p>
 <p>
 <b>Copywrite Type:</b>
 <%= @album.al_copy_write%>
 </p>
 <p>
 <b>Release Date:</b>
 <%= @album.al_rel_date%>
 </p>
 <p>
 <b>Payment Type:</b>
 <%= @album.pay_type%></p>

 <p>
 <b>Amount:</b>
 <%= @album.al_amount%></p>

 <p>
 <b>Producer:</b>
 <%= @album.producer%></p>
 <p>
 <b>Album Producer:</b>
 <%= @album.al_producer%></p>

 <p>
 <b>Label:</b>
 <%= @album.al_label%></p>

 <p>
 <b>Liner Notes:</b>
 <%= @album.liner_notes%></p>

 <p>
 <b>Number Of Downloads:</b>
 <%= @album.downloads%></p>

 <p>
 <b>Number of Plays:</b>
 <%= @album.plays%></p>


<h2> Songs </h2>
 <ul>
    <% @album.songs.uniq.each do |songs| %>
       <% unless songs.song_url_slug.blank?%>
            <li><%= link_to songs.song_name, artist_show_song_path(@artist.url_slug, songs.song_url_slug) %>
            <%= link_to "Play", download_url_for(songs.s3_id), :class => "html5" %></li>
      <% end %>
    <% end %>
    </ul>


  <% @album.artists.uniq.each do |artist_name| %>
          <td><%= link_to 'To '+artist_name.name, artist_link_path(artist_name.url_slug) %></td>
  <% end %>