<div id="fb-root"></div>
<div class="backPane"></div>
<div class="leftPane">
	<div>
      <a href="<%= artist_show_album_path(@artist.url_slug, @album.album_url_slug) %>/playlist-create" class="load-playlist  albumLink content-link"><img src="<%= @album.art%>" id="albumImage" /></a>
  
      <a class="id_make-purchase" path="<%= artist_buy_album_path(@artist.url_slug, @album.album_url_slug) %>" href="#">Buy Now</a>  <%= @album.al_amount == 0 ? 'name your price' : @album.al_amount + ' or more' %>
  </div>

	<div class="social m15t">
		<div><a href="https://twitter.com/share" class="twitter-share-button"  data-text="Check out <%=@album.al_name %> by <%=@artist.twitter_name%>"  data-url="<%=artist_show_album_url(@artist.url_slug,@album.album_url_slug)%>" data-via="3rptr" data-lang="en" data-size="large" data-count="none" data-lang="en" data-related="3rptr">Tweet</a></div>
		<div class="fb-like p5t" data-href="<%=@social_fb_url%>" data-send="false" data-width="350" data-show-faces="true"></div>
	</div>


</div>
<h2><%= @album.al_name %></h2>

<div class="rightPane">




 <table cellpadding="10" class="w100"><tbody>
  <td class="row-border vat">

    <table cellpadding="10" class="w100"><tbody>


    <tr>
      <td class="info-item">Release Date:</td>
      <td class="item-description">
        <%= @album.al_rel_date.strftime("%d %b %Y") %>
      </td>
    </tr>

    <tr>
      <td class="info-item">Producer:</td>
      <td class="item-description"><span  id="single_line" field_name="song_written" object="ablum" >
 	     <%= @album.producer %>
         </span></td>
    </tr>

    <tr>
      <td class="info-item">Label:</td>
      <td class="item-description"><span  id="single_line" field_name="song_written" object="album" >
 	     <%= @album.al_label %>
         </span></td>
    </tr>

    <tr>
      <td class="info-item">Licence Type:</td>
      <td class="item-description"><span  id="single_line" field_name="song_written" object="album" >
 	     <%= @album.al_label %>
         </span></td>
    </tr>


    <tr>
      <td class="info-item">Thank You's:</td>
      <td class="item-description">
        <div class="editable"  field_name="liner notes" object="album" >
          <%= @album.liner_notes  %>
        </div>
      </td>
    </tr>
    </tbody></table>
    <h3>Songs</h3>
    <table style="margin-top:15px;">
      <tbody class="row-border">
      <% @album.songs.uniq.each do |songs| %>
          <% unless songs.song_url_slug.blank?%>
              <tr>
                <td style="width:60px"><a href="<%= download_url_for(songs.s3_id) %>"
                                          data-song-name="<%= songs.song_name %>"
                                          data-artist-name="<%= @artist.name %>"
                                          data-song-id="<%= songs.id %>"
                                          class="music-button"><% if songs.image.nil? %>PLAY
                  <% else %>
                      <img src="<%=songs.image %>" style="max-width:60px;"/><% end %></a></td>
                <td class="bold"><%= link_to songs.song_name, artist_show_song_path(@artist.url_slug, songs.song_url_slug), :class => "content-link" %>
                </td>
                <td><a href="#">Share</a></td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>


  </td></tr>
  </table>






  <!--gets csrf token and passes into hidden field.  Keeps user logged in after form post-->

  <script type="text/javascript">


      $('.id_make-purchase').click(function(ev) {
          if(!$('#overlay').length)
              $('<div id="overlay"/>').appendTo('body');
          $('<div id="dialogWindow" class="div2" />').appendTo('#overlay').load($(ev.target).attr('path'));
          return false;
      });
  </script>
</div>









