<style type="text/css">
.backPane
{
	z-index:100;
	width: 25px;
	top:0;
	left: -30px;
	display:block;
	background-color: #F00;
}
.leftPane
{
	float:left;
	vertical-align: top;
}
.rightPane
{
	float:right;
	font-family: arial;
	font-size:14px;
	width:75%;
}

.rightPane h1
{
	text-align: left;
	font-family: 'verb_regularregular';
	font-size:20px;
}
.rightPane .albumDesc
{
	text-align: left;
	font-family: 'verb_lightregular';
	font-size:16px;
	color:#aaa;
	font-weight: 100;
}

.rightPane .details {
	text-align: left;
	font-family: 'verb_lightregular';
	font-size:14px;
	color:#aaa;
}

.p10t{
	padding-top:10px;
}

.p5t{
	padding-top:5px;
}

.p5l{
	padding-left:5px;
}

.m30l{
	margin-left:30px;
}

.albumLink{
	text-decoration: none !important;
	font-size: 16px !important;
}
.song-list{
	width:50%;
	margin: 0 auto;
}

.rightPane table
{
	width:100%;
	text-align: left;
	font-family: 'verb_lightregular';
	font-size:16px;
	color:#aaa;
	font-weight: 100;
	margin-right:15px;
}

.rightPane td {
	padding: 10px;
}

.bold {
	font-weight: bold;
}
</style>


<div id="fb-root"></div>
<div class="backPane"></div>
<div class="leftPane">
	<div><img src="<%= @album.art%>" style="max-width:200px;" /><br>
		<p class="m30l"><%=link_to "Play", album_playlist_create_path(@artist.url_slug, @album.album_url_slug), :class =>"load-playlist  albumLink" %></p>
	</div>

	<div class="social m30l">
		<div><a href="https://twitter.com/share" class="twitter-share-button"  data-text="Check out <%=@album.al_name %> by <%=@artist.twitter_name%>"  data-url="<%=artist_show_album_url(@artist.url_slug,@album.album_url_slug)%>" data-via="3rptr" data-lang="en" data-size="large" data-count="none" data-lang="en" data-related="3rptr">Tweet</a></div>
		<div class="fb-like p5t" data-href="<%=@social_fb_url%>" data-send="false" data-width="350" data-show-faces="true"></div>
	</div>
</div>

<div class="rightPane"><h1><%= @album.al_name %></h1>
	<% unless @album.description.nil? || @album.description.size == 0 %>
		<span class="editable albumDesc p5t" id="text_area" field_name="description" object="album" >
			<%= @album.description.html_safe%>
		</span>
	<% end %>

	<table style="margin-top:15px;">
		<tbody class="row-border">
			<% @album.songs.uniq.each do |songs| %>
				<% unless songs.song_url_slug.blank?%>
				<tr>
					<td><a href="<%= download_url_for(songs.s3_id) %>" data-song-name="<%=songs.song_name%>" data-artist-name="<%=@artist.name%>" class="music-button">
						<span class="p5l">Play</span></a>
					</td>
					<td class="bold"><%= link_to songs.song_name, artist_show_song_path(@artist.url_slug, songs.song_url_slug), :class => "content-link" %> 
					</td>
					<td>song length</td>
					<td><a href="#" class="music-button">BUY</a></td>
				</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>

 		<h2>Want it? Get it!</h2>
		<% if @album.pay_type == "pay" %>
			<%= link_to "Buy Now: Only $"+@album.al_amount.to_s+"!", payment_method_path("album",@artist.url_slug,@album.id ) %>
		<% elsif @album.pay_type == "pwyc" %>
			<!--gets csrf token and passes into hidden field.  Keeps user logged in after form post-->

			<script type="text/javascript">
				$(function(){
					var token = $('meta[name="csrf-token"]').attr('content');
					$("#token").val(token);
				});
			</script>

			<form accept-charset="UTF-8" action="<%=payment_method_path("album",@artist.url_slug,@album.id )%>" class="pwyc_form" enctype="multipart/form-data" data-validate="true"  method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" />


				<input name="authenticity_token" id="token" type="hidden" value=""/></div>


				<label for="amount">download</label>
				<input id="amount" name="amount" type="text" size="3" />
				<input name="commit" type="submit" value="Donate" />

				<!--For order processing-->

				<!--defines the type of object it is-->
				<input id="object" name="object" type="hidden" value="album" />
				<input id="url_slug" name="url_slug" type="hidden" value="<%= @artist.url_slug %>" />
				<input id="song_album_or_event_id" name="song_album_or_event_slug" type="hidden" value="<%=@album.id%>" />
			</form>
		<% else %>
			<h3><%= link_to "Download Free",download_free_path("album",@artist.url_slug,@album.id), :class=>"albumLink" %></h3>
		<% end %>
<!-- 			<h2>not to be included in actual layout</h2>

			<p><b>Should be in layout - Album Type:</b>
				<%= @album.al_type%>
			</p>
			<p>

			<p>
				<b>For testing Album ID:</b>
				<%= @album.id%>
			</p>

			<p>
				<b>For Testing - Payment Type:</b>
				<%= @album.pay_type%></p>

			<p>
				<b>For test - Amount:</b>
				<%= @album.al_amount%></p>

			<p>
				<b>For Testing - Album URL Slug</b>
				<%= @album.album_url_slug %></p>

			<b>Used for calling an album with just the - Primary Artist:</b>
			<%= @album.pri_artist%>
			</p>

			<p>

				<b> For testing - Artist ID </b>
				<%= @album.al_a_id %>
			</p>

			<p>
				<b>Not working yet - Number Of Downloads:</b>
				<%= @album.downloads%></p>

			<p>
				<b>Not working yet - Number of Plays:</b>
				<%= @album.plays%></p> -->


</div>









