<div id="fb-root"></div>
<div class="backPane"></div>
<div class="leftPane">
	<div><img src="<%= @album.art%>" id="albumImage" /><br>
		<p class="m30l"><%=link_to "Play", album_playlist_create_path(@artist.url_slug, @album.album_url_slug), :class =>"load-playlist  albumLink" %></p>
	</div>

	<div class="social m30l">
		<div><a href="https://twitter.com/share" class="twitter-share-button"  data-text="Check out <%=@album.al_name %> by <%=@artist.twitter_name%>"  data-url="<%=artist_show_album_url(@artist.url_slug,@album.album_url_slug)%>" data-via="3rptr" data-lang="en" data-size="large" data-count="none" data-lang="en" data-related="3rptr">Tweet</a></div>
		<div class="fb-like p5t" data-href="<%=@social_fb_url%>" data-send="false" data-width="350" data-show-faces="true"></div>
	</div>
</div>

<div class="rightPane"><h1><%= @album.al_name %></h1>
	<% unless @album.description.nil? || @album.description.size == 0 %>
		<span class="editable albumDesc p5t" id="text_area" field_name="description" object="album" >
			<%= @album.description.html_safe%>
		</span>
	<% end %>

	<table style="margin-top:15px;">
		<tbody class="row-border">
			<% @album.songs.uniq.each do |songs| %>
				<% unless songs.song_url_slug.blank?%>
				<tr>
					<td style="width:60px"><a href="<%= download_url_for(songs.s3_id) %>"
							   data-song-name="<%= songs.song_name %>"
							   data-artist-name="<%= @artist.name %>"
							   data-song-id="<%= songs.id %>"
							   class="music-button"><% if songs.image.nil? %>PLAY 
								<% else %>
								<img src="<%=songs.image %>" style="max-width:60px;"/><% end %></a></td>
					<td class="bold"><%= link_to songs.song_name, artist_show_song_path(@artist.url_slug, songs.song_url_slug), :class => "content-link" %> 
					</td>
					<td><a href="#">Share</a></td>
				</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>

 		<h2>Want it? Get it!</h2>

			<!--gets csrf token and passes into hidden field.  Keeps user logged in after form post-->

			<script type="text/javascript">
				$(function(){
					var token = $('meta[name="csrf-token"]').attr('content');
					$("#token").val(token);
				});
			</script>

			<form accept-charset="UTF-8" action="<%=payment_method_path("album",@artist.url_slug,@album.id )%>" class="pwyc_form" enctype="multipart/form-data" data-validate="true"  method="post" novalidate="novalidate"><div><input name="utf8" type="hidden" value="&#x2713;" />


				<input name="authenticity_token" id="token" type="hidden" value=""/></div>


				<label for="amount">Amount yes</label>
				<input id="amount" name="amount" type="text" size="3" value="<%=@album.al_amount%>" />
				<button name="commit" type="submit" class="fancyButton">Download</button>

				<!--For order processing-->

				<!--defines the type of object it is-->
                <input id="url_slug" name="url_slug" type="hidden" value="<%= @artist.url_slug %>" />
                <input id="object" name="object" type="hidden" value="album" />
				<input id="song_album_or_event_id" name="song_album_or_event_slug" type="hidden" value="<%=@album.id%>" />
			</form>




</div>









