<p class="profileCategory">Theme</p>
<li class="field">
  <label class='fl w100'>Colour Theme</label>
    <div id="themeInput" class="colorTheme themePicker rounded">
      <span class="swatch rounded" style="background-color:<%= @profile_layout.p_colour || '#000' %>"></span>
      <span class="swatch rounded" style="background-color:<%= @profile_layout.div_1_background_colour || '#000' %>"></span>
      <span class="swatch rounded" style="background-color:<%= @profile_layout.call_to_action_colour || '#000' %>"></span>
      <span class="swatch rounded" style="background-color:<%= @profile_layout.background_colour || '#000' %>"></span>
      <span class="swatch rounded" style="background-color:<%= @profile_layout.nav_hover_colour || '#000'%>"></span>
      <span class="caret"></span>
      <input type="hidden" class="editable" object="profile" name="profile_layout[colour_theme]" field_name="colour_theme" id="profile_layout_colour_theme">
      <div class="dn rounded" id="themeContainer">
        <div class="themePicker themeItem" data-value="theme_1">
          <span class="swatch rounded" style="background-color:#ffffff"></span>
          <span class="swatch rounded" style="background-color:#6B6B70"></span>
          <span class="swatch rounded" style="background-color:#E21443"></span>
          <span class="swatch rounded" style="background-color:#3D3B42"></span>
          <span class="swatch rounded" style="background-color:#1FB0C5"></span>
        </div>
        <div class="themePicker themeItem" data-value="theme_2">
          <span class="swatch rounded" style="background-color:#DFF2ED"></span>
          <span class="swatch rounded" style="background-color:#607B94"></span>
          <span class="swatch rounded" style="background-color:#405F73"></span>
          <span class="swatch rounded" style="background-color:#295073"></span>
          <span class="swatch rounded" style="background-color:#6D848C"></span>
        </div>
        <div class="themePicker themeItem" data-value="theme_3">
          <span class="swatch rounded" style="background-color:#FFF9EF"></span>
          <span class="swatch rounded" style="background-color:#48616C"></span>
          <span class="swatch rounded" style="background-color:#EC4911"></span>
          <span class="swatch rounded" style="background-color:#00303E"></span>
          <span class="swatch rounded" style="background-color:#7096AD"></span>
        </div>
        <div class="themePicker themeItem" data-value="theme_4">
          <span class="swatch rounded" style="background-color:#FFFFFF"></span>
          <span class="swatch rounded" style="background-color:#6F6F6F"></span>
          <span class="swatch rounded" style="background-color:#D9302E"></span>
          <span class="swatch rounded" style="background-color:#404040"></span>
          <span class="swatch rounded" style="background-color:#E6E632"></span>
        </div>
        <div class="themePicker themeItem" data-value="theme_5">
          <span class="swatch rounded" style="background-color:#FFFFFF"></span>
          <span class="swatch rounded" style="background-color:#5E6A73"></span>
          <span class="swatch rounded" style="background-color:#00ADA9"></span>
          <span class="swatch rounded" style="background-color:#293B47"></span>
          <span class="swatch rounded" style="background-color:#CBFF48"></span>
        </div>
        <div class="themePicker themeItem last" data-value="theme_6">
          <span class="swatch rounded" style="background-color:#F7F6F3"></span>
          <span class="swatch rounded" style="background-color:#424241"></span>
          <span class="swatch rounded" style="background-color:#CC0015"></span>
          <span class="swatch rounded" style="background-color:#000000"></span>
          <span class="swatch rounded" style="background-color:#FFD428"></span>
        </div>
      </div>
    </div>
</li>

<p class="profileCategory">Logo</p>

<!--<li class="field">-->
  <!--<label class='fl'>Logo image</label>-->
    <!--<input type="checkbox" name="profile_layout[logo_toggle]" field_name="logo_toggle" object="profile" value="<%=@profile_layout.logo_toggle%>" id="profile_layout_logo_toggle" class="chkbx editable">-->
<!--</li>-->

<!--<li class="field">-->
  <!--<label>Logo upload</label>-->
  <!--<%= @logo_image_upload.html_safe %>-->
<!--</li>-->

<li class="field">
  <label>Logo font</label>
  <div id="<%= :logo_font%>" class="fontSelect" data-font="<%=@profile_layout.logo_font%>">
    <input type="hidden" class="editable" object="profile" name="profile_layout[logo_font]" field_name="logo_font" value="<%=@profile_layout.logo_font%>" id="profile_layout_logo_font">
    <span class="caret"></span>
  </div>
</li>

<li class="field">
  <label>Logo size</label>
  <div class="bfh-selectbox bfh-fontsizes editable" field_name="logo_size" object="profile" data-fontsize="<%=@profile_layout.logo_size%>" data-blank="true"></div>
</li>

<li class="field">

  <label>Logo colour</label>


  <input type="text" name="profile_layout[logo_colour]" id="logo_colour" class="pick-a-color form-control editable" field_name="logo_colour" object="profile" value="<%= @profile_layout.logo_colour %>"/>


</li>



<p class="profileCategory">Background</p>

<li class="field">
    <label class='fl'>Background image</label>
    <input type="checkbox" name="profile_layout[background_toggle]" value="<%=@profile_layout.background_toggle%>" id="profile_layout_background_toggle" class="chkbx editable" field_name="background_toggle" object="profile">
</li>

<li class="field">
  <label>Background upload</label>
  <%= @bk_image_upload.html_safe %>
</li>

<li class="field">
  <label>Background colour</label>
    <input type="text" value="<%= @profile_layout.background_colour %>" name="profile_layout[background_colour]" class="pick-a-color form-control editable" field_name="background_colour" object="profile" id="background_colour"/>
</li>

<p class="profileCategory">Text</p>

<li class="field">
  <label>Font</label>
  <div id="<%= :content_font%>" class="fontSelect" data-font="<%=@profile_layout.content_font%>">
    <input type="hidden" class="editable" object="profile" name="profile_layout[content_font]" field_name="content_font" value="<%=@profile_layout.content_font%>" id="profile_layout_content_font">
    <span class="caret"></span>
  </div>
</li>

<li class="field">
  <label>Size</label>
  <div class="bfh-selectbox bfh-fontsizes editable" field_name="p_size" object="profile" data-fontsize="<%=@profile_layout.p_size%>" data-blank="true"></div>
</li>
<li class="field">
  <label>Colour</label>
  <input type="text" value="<%= @profile_layout.p_colour %>" name="profile_layout[p_colour]" class="pick-a-color form-control editable" field_name="p_colour" object="profile" id="p_colour"/>
</li>

<p class="profileCategory">Content</p>

<li class="field">
  <label>Content background colour</label>
  <input type="text" value="<%= @profile_layout.div_1_background_colour %>" name="profile_layout[div_1_background_colour]" class="pick-a-color form-control editable" field_name="div_1_background_colour" object="profile" id="div_1_background_colour"/>
</li>

<li class="field">
  <label>Content background transparency</label>
    <input type="range" class="editable form-control" object="profile" name="profile_layout[div_1_transparency]" field_name="div_1_transparency" value="<%=@profile_layout.div_1_transparency%>" id="profile_layout_div_1_transparency" min="0" max="100" onchange="updateSlider(this)" onkeyup="updateSlider(this)"/>

  <div class="range-counter center"><%=@profile_layout.div_1_transparency%></div>
</li>