<%= form_for @profile_layout, :url => {:action => "update"}, :html => { :class => "edit_profile_layout", :id => "edit_profile_layout_1" }  do |f| %>

  <h1> H1 </h1>
  <div class="field">
    <%= f.label :h1_size %><br />
    <div class="bfh-selectbox bfh-fontsizes" data-fontsize="<%=@profile_layout.h1_size%>" data-input="form-control" data-blank="true">
    </div>
  </div>

  <div class="field">
    <%=f.label :h1_font %><br />
    <div class="bfh-selectbox bfh-googlefonts" data-font="<%=@profile_layout.h1_font%>" data-blank="true"></div>
  </div>
  <div class="field">
    <%=f.label :h1_colour %><br />
    <div class="bfh-colorpicker" data-name="h1_colour" data-color="<%=@profile_layout.h1_colour%>"></div>
  </div>

  <br/>
  <h1> H2 </h1>
    <div class="field">
    <%= f.label :h2_size %><br />
    <div class="bfh-selectbox bfh-fontsizes" data-fontsize="<%=@profile_layout.h2_size%>" data-blank="true"></div>
  </div>
  <div class="field">
    <%= f.label :h2_font %><br />
    <div class="bfh-selectbox bfh-googlefonts" data-font="<%=@profile_layout.h2_font%>" data-blank="true"></div>
  </div>
  <div class="field">
    <%= f.label :h2_colour %><br />
    <div class="bfh-colorpicker" data-name="h2_colour" data-color="<%=@profile_layout.h2_colour%>"></div>
  </div>

  <br/>
 <h1> H3 </h1>
  <div class="field">
    <%= f.label :h3_size %><br />
    <div class="bfh-selectbox bfh-fontsizes" data-fontsize="<%=@profile_layout.h3_size%>" data-blank="true"></div>
  </div>
  <div class="field">
    <%= f.label :h3_font %><br />
    <div class="bfh-selectbox bfh-googlefonts" data-font="<%=@profile_layout.h3_font%>" data-blank="true"></div>
  </div>
  <div class="field">
    <%= f.label :h3_colour %><br />
    <div class="bfh-colorpicker" data-name="h3_colour" data-color="<%=@profile_layout.h3_colour%>"></div>
  </div>
  <br/>
  <h1> P </h1>
   <div class="field">
    <%= f.label :p_size %><br />
    <div class="bfh-selectbox bfh-fontsizes" data-fontsize="<%=@profile_layout.p_size%>" data-blank="true"></div>
  </div>
  <div class="field">
    <%= f.label :p_font %><br />
    <div class="bfh-selectbox bfh-googlefonts" data-font="<%=@profile_layout.p_font%>" data-blank="true"></div>
  </div>
  <div class="field">
    <%= f.label :p_colour %><br />
    <div class="bfh-colorpicker" data-name="p_colour" data-color="<%=@profile_layout.p_colour%>"></div>
  </div>


  <br/>
  <h1> Div 1 </h1>
   <div class="field">
    <%= f.label :div_1_colour %><br />
    <div class="bfh-colorpicker" data-name="div_1_colour" data-color="<%=@profile_layout.div_1_colour%>"></div>
  </div>
  <div class="field">
    <%= f.label :div_1_transparency %><br />
    <div class="bfh-slider" data-name="div_1_transparency" data-value="<%=@profile_layout.div_1_transparency%>"></div>
  </div>
   <div class="field">
    <%= f.label :div_1_border_colour %><br />
    <div class="bfh-colorpicker" data-name="div_1_border_colour" data-color="<%=@profile_layout.div_1_border_colour%>"></div>
  </div>
   <div class="field">
    <%= f.label :div_1_background_colour %><br />
    <div class="bfh-colorpicker" data-name="div_1_background_colour" data-color="<%=@profile_layout.div_1_background_colour%>"></div>
  </div>
  <div class="field">
    <%= f.label :div_1_border_width %><br />
    <%= f.number_field :div_1_border_width, :class=>"form-control", :min=>"0", :max=>"5" %>
  </div>

  <h1> Div 2 </h1>
   <div class="field">
    <%= f.label :div_2_colour %><br />
    <div class="bfh-colorpicker" data-name="div_2_colour" data-color="<%=@profile_layout.div_2_colour%>"></div>
  </div>
  <div class="field">
    <%= f.label :div_2_transparency %><br />
    <div class="bfh-slider" data-name="div_2_transparency" data-value="<%=@profile_layout.div_2_transparency%>"></div>
  </div>
   <div class="field">
    <%= f.label :div_2_border_colour %><br />
    <div class="bfh-colorpicker" data-name="colorpicker2" data-color="<%=@profile_layout.div_2_border_colour%>"></div>
  </div>
   <div class="field">
    <%= f.label :div_2_background_colour %><br />
    <div class="bfh-colorpicker" data-name="colorpicker2" data-color="<%=@profile_layout.div_2_background_colour%>"></div>
  </div>
  <div class="field">
    <%= f.label :div_2_border_width %><br />
    <%= f.number_field :div_2_border_width, :class=>"form-control", :min=>"0", :max=>"5" %>
  </div>
  <h1>Custom CSS</h1>
  <div class="field">
	  <p>Use custom css? <%= f.check_box :use_css %></p>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>

 <input id="url_slug" name="url_slug" type="hidden" value="<%=@artist.url_slug %>" />

<% end %>