<!--Loads the edit controls.-->

	<% if can? :update, @artist %>
		<h1>Menu</h1>


		<h1><%= link_to @artist.name, artist_link_path(@artist.url_slug), :class => "content-link" %></h1>


		<%= link_to "Delete Artist", pre_delete_path(@artist.url_slug)%>

		<h2><%= link_to 'Admin', artist_admin_path(@artist.url_slug), :class => "content-link" %></h2>

		<h2><%= link_to 'Layout Editor', profile_edit_path(@artist.url_slug) %></h2>

		<h2>Albums: <%= link_to 'New Album',add_album_path(@artist.url_slug),:class => "content-link"%></h2>

		<ul>
			<% @artist.albums.uniq.each do |albums| %>
				<% unless albums.album_url_slug.blank?%>
					<li><%= link_to albums.al_name, artist_show_album_path(@artist.url_slug,albums.album_url_slug),:class => "content-link" %>
						<%= link_to 'Edit', album_edit_path(@artist.url_slug, albums.album_url_slug,albums.id),:class => "content-link" %>
						<%= link_to 'Destroy', album_pre_delete_path(@artist.url_slug,albums.album_url_slug), :confirm => 'Are you sure?' %>
						<%= link_to 'Album Codes', album_create_code_path(@artist.url_slug,albums.id),:class => "content-link" %>
					</li>
				<% end %>
			<% end %>
		</ul>

		<p>
		<h2>Songs: <%= link_to 'Add Song', add_song_path(@artist.url_slug),:class => "content-link"%></h2>

		<ul>
			<% @artist.songs.uniq.each do |songs| %>
				<% unless songs.song_url_slug.blank?%>
					<% unless songs.s3_id.nil? %>
						<li><%= link_to songs.song_name, artist_show_song_path(@artist.url_slug, songs.song_url_slug), :class => "content-link" %>
							<%= link_to 'Edit', song_edit_path(@artist.url_slug,songs.song_url_slug, songs.id),:class => "content-link" %>
							<%= link_to 'Destroy', song_destroy_path(@artist.url_slug,songs.id), :confirm => 'Are you sure?' %>
						</li>
					<% end %>
				<% end %>
			<% end %>
		</ul>

		</p>


	<% end %>

	<%= link_to 'Song List', songs_path %>
	<%= link_to 'Artist List', artists_path%>


