<!--Loads the edit controls.-->
<% if can? :update, @artist %>
	<ul class="menu-ul id_main-menu can-edit">
		<li class="uppercase title"><p>manage <a href="/<%= @artist.url_slug %>" ><%= @artist.name %></a></p></li>
		<li class="id_artist-admin">
			<p>Artist Profile
				<span class="nav-right"></span>
			</p>
		</li>

		<li class="id_song-admin">
			<p>Songs
				<span class="nav-right"></span>
			</p>
		</li>

        <li class="id_album-admin">
          <p>Albums
            <span class="nav-right"></span>
          </p>
        </li>
	    <li class="borderb id_list-item-link">
			<p><%= link_to 'Appearance', profile_edit_path(@artist.url_slug) %>
				<span class="nav-right"></span>
			</p>
		</li>
		<li class="uppercase title m10t"><p>account</p></li>

		<li class="id_list-item-link">
			<p><%= link_to 'Manage Account', show_user_path(current_user.id) %></p>
        </li>


        <li class="id_list-item-link" data-link="<%= show_user_path(current_user.id)%>">
          <p>Manage Account Ajax</p>
        </li>

        <li class="id_list-item-link">
          <p><%= link_to "Help", support_page_path %></p>
        </li>
		<li class="id_list-item-link">
			<p><%= link_to "Sign out", destroy_user_session_path,:method => :delete %></p>
		<li>
	</ul>

	<ul id="artist-menu" class="menu-ul sub-menu" style="display:none">
		<li class="uppercase id_back"><p><span class="nav-left"></span>back</p></li>
		<li class="id_list-item-link" data-link="<%= artist_admin_path(@artist.url_slug)%>">
			<p>Manage Artist</p>
		</li>
		<li class="id_list-item-link">
			<p><%= link_to "Delete Artist", pre_delete_path(@artist.url_slug)%></p>
		</li>
	</ul>

	<ul id="album-menu" class="menu-ul sub-menu" style="display:none">
		<li class="uppercase id_back"><p><span class="nav-left"></span>back</p></li>
		<li class="id_list-item-link" data-link="<%= add_album_path(@artist.url_slug)%>">
			<p>New Album</p>
		</li>
		<% @artist.albums.uniq.each do |albums| %>
			<% unless albums.album_url_slug.blank?%>
				<li class="album-sub-trigger"><p><%= albums.al_name %></p></li>
				<li class="sub-nested" style="display:none"><ul class= "menu-ul">
					<li class="id_list-item-link" data-link="<%= artist_show_album_path(@artist.url_slug,albums.album_url_slug)%>">
						<p>View Album</p>
					</li>
					<li class="id_list-item-link" data-link="<%= album_edit_path(@artist.url_slug, albums.album_url_slug,albums.id)%>">
						<p>Edit Album</p>
					</li>
					<li class="id_list-item-link"><p>
						<%= link_to 'Delete Album', album_pre_delete_path(@artist.url_slug,albums.album_url_slug), :confirm => 'Are you sure?' %>
					</p></li>
					<li class="id_list-item-link" data-link="<%= album_create_code_path(@artist.url_slug,albums.id)%>">
						<p>Album Codes</p>
					</li>
				</ul></li>
			<% end %>
		<% end %>
	</ul>

	<ul id="song-menu" class="menu-ul sub-menu" style="display:none">
		<li class="uppercase id_back"><p><span class="nav-left"></span>back</p></li>
		<li class="id_list-item-link" data-link="<%= add_song_path(@artist.url_slug)%>">
			<p>Add Song</p>
		</li>
		<% @artist.songs.uniq.each do |songs| %>
			<% unless songs.song_url_slug.blank?%>
				<% unless songs.s3_id.nil? %>
					<li class="album-sub-trigger"><p><%= songs.song_name %></p></li>
					<li class="sub-nested" style="display:none"><ul "menu-ul">
						<li class="id_list-item-link" data-link="<%= artist_show_song_path(@artist.url_slug, songs.song_url_slug)%>">
							<p>View Song</p>
						</li>
						<li class="id_list-item-link" data-link="<%= song_edit_path(@artist.url_slug,songs.song_url_slug, songs.id)%>">
							<p>Edit Song</p>
						</li>
						<li class="id_list-item-link"><p>
							<%= link_to 'Delete Song', song_destroy_path(@artist.url_slug,songs.id), :confirm => 'Are you sure?' %>
						</p></li>
					</ul></li>
				<% end %>
			<% end %>
		<% end %>
	</ul>


<%elsif user_signed_in? %>

    <ul class="menu-ul id_main-menu">
      <li class="id_list-item-link">
        <p><%= link_to 'Manage Account', show_user_path(current_user.id) %></p>
      </li>

    </ul>

<%else%>

	<ul class="menu-ul id_main-menu">
		<li class="id_list-item-link">
			<p><%= link_to "Sign In", new_user_session_path %></p>
		</li>
		<li class="id_list-item-link">
			<p><%= link_to "Sign Up", new_user_registration_path %></p>
		</li>
	</ul>

<% end %>
