<!DOCTYPE html>
<html>
<head>
  <title>Music3</title>
  <%= stylesheet_link_tag :all %>
   <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" %>
  <%= javascript_include_tag 'jquery', 'rails.validations', 'application.js', :'defaults','jquery_ujs' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id= "user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
   <% else %>
     <%= link_to "sign in", new_user_session_path %>
     <%= link_to "register", new_user_registration_path %>

   <% end %>

</div>

   <%= yield %>

</body>
</html>
