<!DOCTYPE html>
<html>
<style>
	h1,h2, p,table,a,ul {
		color: #FFFFFF;

	}


	html, body {
		overflow-x: hidden;
		margin: 0 auto;

	}

	@font-face{
		font-family: 'icomoon';
		src: url("/assets/fonts/iconmoon.eot");
	}
	.container {
		margin-top: 50px;
	}

	.notice {
		color: #8B0000
	}

		/* Defines whole top nav, including sign in/out, and the player it self */
	.player_nav {
		width: 100%;

		height: 50px;
		position: fixed;
		top: 0;
		left: 0;
		background: #2E2E2E;

	}

		/* Sign in/sign out */
	.user_nav {
		position: fixed;
		height: 50px;
		line-height: 50px;
		padding-right: 15px;
		color: #C4C4C4;
		right: 0;
		top: 0;
	}

	.userInfo {
		margin-right: auto;
		margin-left: auto;
		background-color: #2E2E2E;
		display: block;
        margin-top: 20px;
		width: 700px;
		text-align: center;
	}

	a.nav {
		color: #FFFFFF;
		text-decoration: none;

	}

	p {
		color: #FFFFFF;
		text-decoration: none;

	}

	a.nav:hover {
		color: #FFFFFF;

		font-weight: bold;
		text-decoration: none;
	}



</style>


<head>

	<%= csrf_meta_tag %>
	<title>Music3</title>



	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag 'jquery-1.8.3', 'rails.validations', 'jquery.backstretch.min', 'showHide' %>
<%#= javascript_include_tag 'jquery-1.6.3','rails.validations', 'jquery.backstretch.min'%>

	<script type="text/javascript" src="/javascripts/jPlayer/jquery.jplayer.min.js"></script>
	<script type="text/javascript" src="/javascripts/jPlayer/add-on/jplayer.playlist.min.js"></script>
	<script type="text/javascript" src="/javascripts/jPlayer/add-on/jquery.jplayer.inspector.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.fileupload.js"></script>

	<link type="text/css" href="/skin/black_and_yellow/jplayer-black-and-yellow.css" rel="stylesheet"/>
	<link type="text/css" href="/stylesheets/style.css" rel="stylesheet"/>
	<!-- Twitter follow -->
	<script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

	<!-- Master template -->
	<script>
		$(function () {
			$.backstretch("/skrillex.jpeg");
		});


	</script>


	<script type="text/javascript">
		<!-- Java Script effect -->
		$(document).ready(function () {


			$('.show_hide').showHide({
				speed:300, // speed you want the toggle to happen
				easing:'', // the animation effect you want. Remove this line if you dont want an effect and if you haven't included jQuery UI
				changeText:0, // if you dont want the button text to change, set this to 0
				showText:'View', // the button text to show when a div is closed
				hideText:'Close' // the button text to show when a div is open

			});


		});


		//<![CDATA[

		<!-- Global Varaibles for playing song in playlist with click -->
		var myPlaylist;
		var playlistSongs = [];
		var artistSongs = {};

		<!-- Initializes the play list -->
		function initializePlayList(newPlaylist) {

			return new jPlayerPlaylist({
						jPlayer:"#jquery_jplayer_1",
						cssSelectorAncestor:"#jp_container_1"
					},
					newPlaylist,
					{
						swfPath:"../js",
						supplied:"mp3",
						wmode:"window"
					});
		}
		var DEBUGGING = true;


        //sends csrf token with ajax send

		$(document).ajaxSend(function(e, xhr, options) {
			var token = $("meta[name='csrf-token']").attr("content");
			xhr.setRequestHeader("X-CSRF-Token", token);
		});

		$(document).ready(function () {

			myPlaylist = initializePlayList(playlistSongs);

			<!-- Click Handler to add song to playlist.  Songs are stored in Artists, Index's are assocated with songs -->
			$(".music-button").live("click", function (event) {
				event.preventDefault();

				//<!-- Assigns varibles from click  -->
				var songName = $(this).attr('data-song-name');
				var artistName = $(this).attr('data-artist-name');

				//<!-- checks to see if artist already exisits in the playlist -->
				if (artistSongs[artistName] == undefined)
					artistSongs[artistName] = {};
				//<!-- Assigns the song index to varaible songindex, if it does not exist then become undefined and will be added below -->
				var songIndex = artistSongs[artistName][songName];

				//<!-- If undefined then will ad the song to the play list -->
				if (songIndex === undefined) {
					//<!-- Creates play list object and ads it to play list.  If you need to add more song attributes, or file types this is where you do it -->
					myPlaylist.add({
						title:songName,
						mp3:$(this).attr('href')
					});

					//<!-- sets the song index. By take the length of the playist (with the song added see above) and subtracts 1 because index starts at 0, length starts at 1 -->
					songIndex = artistSongs[artistName][songName] = myPlaylist.playlist.length - 1;
				}

				myPlaylist.play(songIndex);


			});

			// BACK/FORWARD BUTTONS WORK AS WELL
			window.onpopstate = function (event) {
				$("#loading").show();
				var location = window.location.href + "?redir=true";
				console.log("location: " + location)
				loadContent(location);
			};

			$(".content-link").live("click", function (event) {
				if (window.history === undefined || window.history.pushState === undefined) {
					//save cookie on confirm to remember choice
					alert("Music will stop playing, do you wish to continue? To stop this from appearing download chrome.")
					return true;
				}
				event.preventDefault();
				url = $(this).attr('href');
				console.log("pathname: " + url);
				loadContent(url);

				// HISTORY.PUSHSTATE
				history.pushState('', 'New URL: ' + url, url);
			});

			$(".editable").on("blur", function(){
				content = $(this).html();

				field_name = $(this).attr('field_name');
				object = $(this).attr('object');
				id = $(this).attr('id');

				console.log(field_name+" "+object+" "+id);

				href = "<%= field_save_url("grimes")%>";

				href = href + "?field_name=" + field_name + "&object=" + object + "&id=" + id +"&value=" + content;
                console.log(href);
				console.log(content);
				save_edit(href);


			});





			$(function() {

				$('.direct-upload').each(function() {

					var form = $(this)

					<% if defined?(@song.s3_id) %>
						var s3_id = "<%=@song.s3_id %>"
					<% end %>

					$(this).fileupload({
						url: form.attr('action'),
						type: 'POST',
						autoUpload: true,
						dataType: 'xml', // This is really important as s3 gives us back the url of the file in a XML document
						add: function (event, data) {
							$.ajax({
								url: "/signed_urls",
								type: 'GET',
								dataType: 'json',
//								data: {doc: {title: data.files[0].name}}, // send the file name to the server so it can generate the key param

								data: {doc: {title: s3_id}}, // send the file name to the server so it can generate the key param
								async: false,
								success: function(ajaxData) {
									// Now that we have our data, we update the form so it contains all
									// the needed data to sign the request
									form.find('input[name=key]').val(ajaxData.key)
									form.find('input[name=policy]').val(ajaxData.policy)
									form.find('input[name=signature]').val(ajaxData.signature)
									//updates S3 Meta Information
									form.find('input[name=x-amz-meta-my-file-name]').val(data.files[0].name)
									form.find('input[name=Content-Disposition]').val("attachment;filename="+data.files[0].name)
									//updates name in form feild
									var file_name_ext_remv = (data.files[0].name)
								    file_name_ext_remv = file_name_ext_remv.substring(0, file_name_ext_remv.indexOf('.'));

									save_s3_meta_name (file_name_ext_remv)
									$('input[name="song[song_name]"]').val(file_name_ext_remv)



									ted_log ('data from server')
									ted_log (s3_id)
									ted_log (ajaxData.key)
									ted_log (ajaxData.policy)
									ted_log (ajaxData.signature)
									ted_log (ajaxData)
								}
							})

							data.submit();
						},
//						send: function(e, data) {
//							$('.progress').fadeIn();
//						},
//						progress: function(e, data){
//							// This is what makes everything really cool, thanks to that callback
//							// you can now update the progress bar based on the upload progress
//							var percent = Math.round((e.loaded / e.total) * 100)
//							$('.bar').css('width', percent + '%')
//						},
						fail: function(e, data) {
							console.log('fail')
						},
						success: function(data) {
							// Here we get the file url on s3 in an xml doc
							var url = $(data).find('Location').text()
							console.log (url)

//						$( &#039;#real_file_url&#039; ).val(url) // Update the real input in the other form
						},
						done: function (event, data) {
							$('.progress').fadeOut(300, function() {
								$('.bar').css('width', 0)
							})
						}
					})
				})
			})

		});


		function save_s3_meta_name (file_name_ext_remv) {
			$.ajax({
				url:"<%=@meta_update_url%>",
				type: "post",
				data: {
					s3_meta_name: file_name_ext_remv
				},
				success:
						function(){console.log("saved")},

				fail:
						function(){ted_log("S3_meta_failed")}

			})
		};


		function loadContent(href) {
			$.ajax({

				url:href,
				success:function (json) {
					ted_log(json);

					$.each(json, function (key, value) {
						$(key).html(value);
					});

				},
				dataType:"json"
			});
		}
		;



		function ted_log(json) {
			if (typeof console !== undefined && DEBUGGING)
				console.log(json);
			else if (DEBUGGING)
				alert(json);
		}






	</script>


	<%= csrf_meta_tag %>
</head>

<body>


<div class="container">
	<div class="player_nav">


		<div id="jquery_jplayer_1" class="jp-jplayer"></div>


		<div id="jp_container_1">
			<div class="jp-type-playlist">
				<div class="jp-audio-container">
					<div class="branding">
						<b><p class="branding" >3RPTR</p></b>
					</div>

					<div class="jp-audio">
						<div class="jp-type-single">
							<div id="jp_interface_1" class="jp-interface">

								<ul class="jp-controls">

									<li><a href="#" class="jp-play" tabindex="1" data-icon="!"></a></li>
									<li><a href="#" class="jp-pause" tabindex="1" data-icon="&#x22;"></a></li>

									<li><a href="#" class="jp-mute" tabindex="1">mute</a></li>
									<li><a href="#" class="jp-unmute" tabindex="1">unmute</a></li>
								</ul>

								<div class="trackInfo">
									<div class="track_name" id="track_name">&nbsp;</div>

									<div class="progressBarContainer">
										<div class="jp-current-time"></div>
										<div class="jp-progress-container">
											<div class="jp-seek-bar">
												<div class="jp-play-bar"></div>
											</div>
										</div>
										<div class="endTime">0:00?</div>
									</div>
								</div>

								<span>After track info</span>

							</div>
						</div>
					</div>

				</div>
				<div class="jp-playlist">
					<ul>
						<li></li>
					</ul>
				</div>
				<div class="jp-no-solution">
					<span>Update Required</span>
					To play the media you will need to either update your browser to a recent version or update your
					<a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
				</div>
				<!--<div class="clearfix"></div>-->
			</div>
		</div>

		<div id="user_nav" class="user_nav">
			<% if user_signed_in? %>
				Signed in as <%= link_to current_user.email, show_user_path(current_user.id), :class => :nav %>. Not
				you?
				<%= link_to "Sign out", destroy_user_session_path, :class => :nav, :method => :delete %>
			<% else %>
				<%#= render :partial => 'login_form' %>
				<%= link_to "sign in", new_user_session_path %>
				<%= link_to "register", new_user_registration_path %>
			<% end %>
		</div>
	</div>


</div>

	<% if browser.ie? %>
		<h1>Hey, Internet explorer sucks. We suggest you upgrade your browser to
			<a href="www.google.com/chrome/">Chrome</a>. Cant do it? Don't Want to do it? Don't know what a browser is?
			Three Repeater will work, but not well.</h1>
	<% end %>

    <% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
    <% end %>

	<h1>This is the application page</h1>

	<%= yield %>

</div>
</body>
</html>
