<!DOCTYPE html>
<html>


<head>
<!--Google Meta-->
<title><%= @social_title %></title>
<%= csrf_meta_tag %>
<meta name="description" content="<%= @social_descrip %>"/>

<!--Facebook Meta Infomation-->

<meta property="og:title" content="<%= @social_title %>"/>
<meta property="og:type" content="band"/>
<meta property="og:url" content="<%= @social_fb_url %>"/>
<meta property="og:image" content="<%= @social_image %>"/>
<meta property="og:site_name" content="Three Repeater"/>
<meta property="fb:admins" content="513047468"/>
<meta property="og:description" content="<%= @social_descrip %>"/>

<!--Twitter Metta Info-->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@3rptr">
<meta name="twitter:creator" content="<%= @social_twitter_name %>">
<meta name="twitter:url" content="<%= url_for(:only_path => false) %>">
<meta name="twitter:title" content="<%= @social_title %>">
<meta name="twitter:description" content="<%= @social_descrip %>">
<meta name="twitter:image" content="<%= @social_image %>">

<meta class="area">


<style>


		/*User can edit*/
	<% if @artist.profile_layout.use_css == true %>

	<%= @artist.profile_layout.profile_css %>

	<% else %>
	p {
		font-family: <%= @artist.profile_layout.p_font %>;
		font-size: <%= @artist.profile_layout.p_size %>pt;
		color: <%= @artist.profile_layout.p_colour %>;

	}

	h1 {
		font-family: <%= @artist.profile_layout.h1_font %>;
		font-size: <%= @artist.profile_layout.h1_size %>pt;
		color: <%= @artist.profile_layout.h1_colour %>;
		text-align: center;
	}

	h2 {
		font-family: <%= @artist.profile_layout.h2_font %>;
		font-size: <%= @artist.profile_layout.h2_size %>pt;
		color: <%= @artist.profile_layout.h2_colour %>;
		text-align: center;
	}

	h3 {
		font-family: <%= @artist.profile_layout.h3_font %>;
		font-size: <%= @artist.profile_layout.h3_size %>pt;
		color: <%= @artist.profile_layout.h3_colour %>;
		text-align: center;
	}

	ol {
		font-family: <%= @artist.profile_layout.p_font %>;
		font-size: <%= @artist.profile_layout.p_size %>pt;
	}

	ul {
		font-family: <%= @artist.profile_layout.p_font %>;
		font-size: <%= @artist.profile_layout.p_size %>pt;
	}

	.notice {
		font-family: <%= @artist.profile_layout.p_font %>;
		font-size: <%= @artist.profile_layout.p_size %>;
		color: <%= @artist.profile_layout.p_colour %>;
	}

	table {
		font-face: <%= @artist.profile_layout.p_font %>;
		font-size: <%= @artist.profile_layout.p_size %>pt;
		color: <%= @artist.profile_layout.p_colour %>
	}

	a {

		font-family: <%= @artist.profile_layout.h2_font %>;
		font-size: <%= @artist.profile_layout.h2_size %>pt;
		color: <%= @artist.profile_layout.h2_colour %>;

	}

	a:hover {

		font-family: <%= @artist.profile_layout.h2_font %>;
		font-size: <%= @artist.profile_layout.h2_size %>pt;
		color: <%= @artist.profile_layout.h2_colour %>;

	}

	.div1 {
		max-width: 400px;
		position: absolute;
		top: 5%;
		left: 5%;
		background-color: <%= @artist.profile_layout.div_1_background_colour %>;
		overflow: hidden;
		padding: 10px;
		border: <%= @artist.profile_layout.div_1_border_width %>px solid <%= @artist.profile_layout.div_1_border_colour %>;
		border-radius: 5px;
	}

	.div1a {
		display: block;
		margin-right: auto;
		overflow: hidden;
		margin-left: auto;
		margin-top: 5%;
		max-width: 400px;
		background-color: <%= @artist.profile_layout.div_1_background_colour %>;
		padding: 10px;
		border: <%= @artist.profile_layout.div_1_border_width %>px solid <%= @artist.profile_layout.div_1_border_colour %>;
		border-radius: 5px;
	}

	.div1ra {
		margin-top: 5%;
		margin-left: auto;
		display: block;
		margin-right: auto;
		overflow: hidden;
		max-width: 800px;
		min-width: 300px;
		background-color: <%= @artist.profile_layout.div_1_background_colour %>;
		padding: 10px;
		border: <%= @artist.profile_layout.div_1_border_width %>px solid <%= @artist.profile_layout.div_1_border_colour %>;
		border-radius: 5px;
	}

	.button {
		margin: 2%;
		background-color: <%= @artist.profile_layout.div_2_background_colour %>;
		overflow: hidden;
		padding: 30px;
		border: <%= @artist.profile_layout.div_2_border_width %>px solid <%= @artist.profile_layout.div_2_border_colour %>;
		box-shadow: 3px 3px 7px #777;
		border-radius: 2px;
	}

	.button:hover {
		background-color: blue;
	}

	.div2 {
		margin: 2%;
		background-color: <%= @artist.profile_layout.div_2_background_colour %>;
		overflow: hidden;
		padding: 30px;
		border: <%= @artist.profile_layout.div_2_border_width %>px solid <%= @artist.profile_layout.div_2_border_colour %>;
		box-shadow: 3px 3px 7px #777;
		border-radius: 2px;
	}

	.div3 {
		width: 400px;
		height: 80px;
		margin: 30px;
		background-color: <%= @artist.profile_layout.div_2_background_colour %>;
		overflow: hidden;
		padding: 10px;
		border: <%= @artist.profile_layout.div_2_border_width %>px solid <%= @artist.profile_layout.div_2_border_colour %>;
		box-shadow: 3px 3px 7px #777;
		border-radius: 2px;
	}

	.image {
		float: left;
		width: 70px;
		height: 70px;
		margin: 1%;
		overflow: hidden;
		border: <%= @artist.profile_layout.div_2_border_width %>px solid <%= @artist.profile_layout.div_2_border_colour %>;
		box-shadow: 1px 1px 2px #777;
		border-radius: 2px;
	}

	.div1r {
		max-width: 1000px;
		min-width: 800px;
		position: absolute;
		top: 5%;
		right: 5%;
		background-color: <%= @artist.profile_layout.div_1_background_colour %>;
		overflow: hidden;
		padding: 10px;
		border: <%= @artist.profile_layout.div_1_border_width %>px solid <%= @artist.profile_layout.div_1_border_colour %>;
		border-radius: 5px;
	}

	.toggleDiv {
		display: none
	}

	#loading {
		display: none;
	}

	<% end %>

	html, body {
		overflow-x: hidden;
		margin: 0 auto;

	}

	@font-face {
		font-family: 'icomoon';
		src: url("/assets/fonts/iconmoon.eot");
	}

	.container {
		margin-top: 50px;
	}

		/* Defines whole top nav, including sign in/out, and the player it self */
	.player_nav {
		width: 100%;

		height: 50px;
		position: fixed;
		top: 0;
		left: 0;
		background: #2E2E2E;
		z-index: 2;
	}

		/* Sign in/sign out */
	.user_nav {
		position: fixed;
		height: 50px;
		line-height: 50px;
		padding-right: 15px;
		color: #C4C4C4;
		right: 0;
		top: 0;
	}

	.user_nav_info {
		display: inline-block;

	}

	.admin {
		display: inline-block;
		border-left: 1px solid #ffffff;
		line-height: 30px;
		padding: 5px;

	}

	.adminLink {
		color: #ffffff;
	}

	.audio {
		position: fixed;
		top: 0;
		margin: 0 auto;
		background-color: #FFFFFF;
		width: 9999px;
		height: 50px
	}

	a.nav, .adminLink {
		color: #FFFFFF;
		text-decoration: none;

	}


	a.nav:hover, .adminLink:hover {
		color: #FFFFFF;

		font-weight: bold;
		text-decoration: none;
	}


	#text_area {
		width: 350px;
		max-height: 200px;
		overflow: auto;
		margin-bottom: 15px;
	}


	/*.edit-controls {*/
	   /*display:block;*/
    	/*float: right;*/
		/*display: inline-block;*/
		/*width: 320px;*/
		/*background: #2E2E2E;*/
		/*padding: 5px;*/

	/*}*/



</style>



<%= stylesheet_link_tag :all %>

<link type="text/css" rel="stylesheet" href="/<%= @artist.url_slug %>/css" media="screen">

<!--defaults-->
<%#= javascript_include_tag :'defaults'%>
<!--/defaults-->

<%= javascript_include_tag 'jquery-1.8.3', 'rails.validations', 'jquery.backstretch.min', 'showHide' %>

<%#= javascript_include_tag 'jquery-1.6.3','rails.validations', 'jquery.backstretch.min'%>

<script type="text/javascript" src="/javascripts/jPlayer/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/javascripts/jPlayer/add-on/jplayer.playlist.min.js"></script>
<script type="text/javascript" src="/javascripts/jPlayer/add-on/jquery.jplayer.inspector.js"></script>
<script type="text/javascript" src="/javascripts/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/javascripts/jquery.fileupload.js"></script>
<script type="text/javascript" src="/javascripts/simple-expand.js"></script>
<script type="text/javascript" src="/javascripts/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/javascripts/jquery.cloudinary.js"></script>
<%= cloudinary_js_config %>



<link type="text/css" href="/skin/black_and_yellow/jplayer-black-and-yellow.css" rel="stylesheet"/>
<link type="text/css" href="/stylesheets/style.css" rel="stylesheet"/>

<!-- Twitter follow -->
<script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

<!-- Master template -->
<script>//<![CDATA[
$(function () {
	$.backstretch("<%=@artist.image.to_s%>");

	$('.show_hide').showHide({
		speed:300, // speed you want the toggle to happen
		easing:'', // the animation effect you want. Remove this line if you dont want an effect and if you haven't included jQuery UI
		changeText:0, // if you dont want the button text to change, set this to 0
		showText:'View', // the button text to show when a div is closed
		hideText:'Close' // the button text to show when a div is open

	});
});


//<!-- Global Varaibles for playing song in playlist with click -->
var myPlaylist;
var playlistSongs = [];
var artistSongs = {};

//<!-- Initializes the play list -->
function initializePlayList(newPlaylist) {

	return new jPlayerPlaylist({
				jPlayer:"#jquery_jplayer_1",
				cssSelectorAncestor:"#jp_container_1"
			},
			newPlaylist,
			{playlistOptions:{
				autoPlay:true
			}},
			{
				swfPath:"../javascripts/jplayer",
				supplied:"mp3",
				wmode:"window"
			});
}

function songCountIncrementer(event) {
	console.log(event);
	var songID = event.jPlayer.status.media.songID || null;

	if(songID == null) return;

	$.ajax("/api/incrementPlayCount/" + songID, {
		success : function(data){
		console.log("SUCCESSFUL COUNT INCREMENT");
		console.log(data);
	}

	});
}

// Sets csrf-token for all ajax request
$(document).ajaxSend(function(e, xhr, options) {
	var token = $("meta[name='csrf-token']").attr("content");
	xhr.setRequestHeader("X-CSRF-Token", token);
});


var DEBUGGING = true;
$(document).ready(function () {

	myPlaylist = initializePlayList(playlistSongs);

	/*song play counts*/
	$("#jquery_jplayer_1").on($.jPlayer.event.ended, songCountIncrementer);

	//<!-- Click Handler to add song to playlist.Songs are stored in Artists, Index's are assocated with songs -->

	$(".music-button").live("click", function (event) {
		event.preventDefault();

		//<!-- Assigns varibles from click-->
		var songName = $(this).attr('data-song-name'),
			artistName = $(this).attr('data-artist-name'),
			songID = $(this).attr('data-song-id');

		//<!-- checks to see if artist already exisits in the playlist -->
		if (artistSongs[artistName] == undefined)
			artistSongs[artistName] = {};
		//<!-- Assigns the song index to varaible songindex, if it does not exist then become undefined and will be added below -->
		var songIndex = artistSongs[artistName][songName];

		//<!-- If undefined then will ad the song to the play list -->
		if (songIndex === undefined) {
			//<!-- Creates play list object and ads it to play list.If you need to add more song attributes, or file types this is where you do it -->
			myPlaylist.add({
				title:songName,
				artist:artistName,
				songID: songID,
				mp3:$(this).attr('href')
			});

			//<!-- sets the song index. By take the length of the playist (with the song added see above) and subtracts 1 because index starts at 0, length starts at 1 -->
			songIndex = artistSongs[artistName][songName] = myPlaylist.playlist.length - 1;
		}
		artistSong = artistName + "&mdash;" + songName
		myPlaylist.play(songIndex);
		$("#track_name").html(artistSong);


	});

	setTimeout(function () {
		ted_log("about to hit window event listersetTimeout")
		window.addEventListener('popstate', popstate(), false);
	}, 1000);


	$(".content-link").live("click", function (event) {
		<% if browser.ie? %>
		alert("Music will stop playing, do you wish to continue? To stop this from appearing download chrome.")
		<% else %>
		event.preventDefault();
		url = $(this).attr('href');
		console.log("pathname: " + url);
		ted_log("about to load content in content link")
		loadContent(url);


		// HISTORY.PUSHSTATE
		history.pushState('', 'New URL: ' + url, url);
		<% end %>
	});

//	 	Displays track Info
	$(".trackInfo").live('mouseenter', function () {
		$(this).find(".progressBarContainer").show();
	});
	$(".trackInfo").live('mouseleave', function () {
		$(this).find(".progressBarContainer").hide();
	});

//		Displays playlist

	$(".playlist").live('mouseenter', function () {
		console.log("hover enter");
		$(".jp-playlist").show();
	});

	$(".playlist").live('mouseleave', function () {
		console.log("hover leave");
		$(".jp-playlist").hide();
	});


	// adds playlist
	$(".payment").live("click", function (event) {

			}
	)


	$(".load-playlist").live("click", function (event) {
				event.preventDefault();
				var location = $(this).attr('href')

				console.log("location: " + location)
				get_playlist(location);

			}
	)

	//to rails form submit
	form_upload_rails();


	//direct to s3 upload
   s3_direct_upload();
	nav_selector();




	//http://redhotsly.github.io/simple-expand/
	$('.adminLink').simpleexpand({'defaultTarget': '.edit-controls' });



	// displays edit window when edit screen is loaded from html (on refresh ect)
	<% if @edit == "true" %>
		$(".edit-controls").show();
	    ted_log("in show edit controls")

	<% end %>


});




//	Loads Facebook like button script after ajax call
$(document).ajaxComplete(function () {
	try {
		FB.XFBML.parse();
	} catch (ex) {
	}
});

function get_playlist(href) {
//      To display current song info in the player the below code needs to be added jplayer.playlist.min.js in the "_highlight:" function
//		var trackInfo = (this.playlist[a].artist)+"&mdash;"+(this.playlist[a].title)
//		$("#track_name").html(trackInfo);


	$.ajax({
		url:href,
		success:function (json) {
			ted_log(json);
			myPlaylist.setPlaylist(json["playlist"])
		},
		dataType:"json"
	});
}

function popstate() {
	// BACK/FORWARD BUTTONS WORK AS WELL
	window.onpopstate = function (event) {
		ted_log("POPSTATE!");
		console.log(event);
		$("#loading").show();
		var location = window.location.href + "?redir=true";
		ted_log("location: " + location);
		ted_log("about to load content");
		ted_log(location);
		loadContent(location);
	};

}


function loadContent(href) {
	ted_log(href);

	$.ajax({
		url:href,
		success:function (json) {
			ted_log(json);
			ted_log("about to load json")
			//debugger;
			//loads twitter script so follow button and the like will load when back button is hit.

			$.getScript("https://platform.twitter.com/widgets.js")

			$.each(json, function (key, value) {
				$(key).html(value);
			});
			ted_log("id is= "+json.id);


			/*shows and hides eliments depending on where they are*/
            if(json.hasOwnProperty('edit')){
				ted_log("In Hide Floating Content")
				$(".artistLogoArea").hide();
				$(".navArea").hide();
				$('form[data-validate]').validate();
			}

			else if(json.hasOwnProperty('show')){
				$(".artistLogoArea").show();
				$(".navArea").show();
			};


			//for the s3 ajax upload
 			s3_direct_upload();

			//catches form to do json/ajax upload
			form_upload_rails();

			//makes sure navigation works on ajax request
			nav_selector();
		},

		dataType:"json"
	});

}

function s3_direct_upload(){
	$('.direct-upload').each(function() {

		var form = $(this);

		var s3ObjectType
		var s3Id
		var image_save_location
		var imageType
		var s3_file_name
		var meta_url


		$(this).fileupload({

			url: form.attr('action'),
			type: 'POST',
			autoUpload: true,
			dataType: 'xml', // This is really important as s3 gives us back the url of the file in a XML document
			add: function (event, data) {

				//Image upload only - sets image type (logo, bk ground, song, album art ect)
				imageType = $(event.target).find('.s3_upload').attr('id');
				// sets object type for upload (image and song ect)
				s3ObjectType = $(event.target).find('.s3_upload').data("object_type");
				//Image only - url for saving the image on s3
				image_save_location = $(event.target).find('.s3_upload').data("object_image_save_url");
				//object name for s3
				s3Id = $(event.target).find('.s3_upload').data("object_id");
				//Defines the url for updating meta data in s3
				meta_url = $(event.target).find('.s3_upload').data("meta_url");


				ted_log("s3ObjectType= "+s3ObjectType);
				ted_log("s3id= "+ s3Id);
				ted_log("image type="+ imageType);
				ted_log("meta_url= "+ meta_url)


				// sets the s3 file name for image b/c need file name and ext
				if(s3ObjectType == "image"){
					var s3Name = s3Id+data.files[0].name
				}
				else{
					var s3Name = s3Id


					};
				ted_log("s3id= "+s3Id);

					$.ajax({
						url: "/signed_urls"+"?object="+s3ObjectType,
						type: 'GET',
						dataType: 'json',
	//								data: {doc: {title: data.files[0].name}}, // send the file name to the server so it can generate the key param

						data: {doc: {title: s3Name}}, // send the file name to the server so it can generate the key param

						async: false,
						success: function(ajaxData) {
							//for saving image and updating meta data
							s3_file_name = (data.files[0].name);

							// Now that we have our data, we update the form so it contains all
							// the needed data to sign the request

							form.find('input[name=key]').val(ajaxData.key)
							form.find('input[name=policy]').val(ajaxData.policy)
							form.find('input[name=signature]').val(ajaxData.signature)
							//updates S3 Meta Information
							form.find('input[name=x-amz-meta-my-file-name]').val(data.files[0].name)



							// for attachemts
							if(s3ObjectType !="image"){
								ted_log("in update meta for songs and other")
								form.find('input[name=Content-Disposition]').val("attachment;filename="+data.files[0].name)
								//updates name in form feild
								ted_log("s3_file_name inside not image if statement= "+s3_file_name)
								var file_name_ext_remv = s3_file_name.substring(0, s3_file_name.indexOf('.'));

								save_s3_meta_name(file_name_ext_remv, meta_url)
								$('input[name="song[song_name]"]').val(file_name_ext_remv)
							};

							ted_log ('data from server')
							ted_log (s3Id)
							ted_log (ajaxData.key)
							ted_log (ajaxData.policy)
							ted_log (ajaxData.signature)
							ted_log (ajaxData)
						}
					})



				   var file_status = file_size_check(s3ObjectType,data.files[0].size);
				   ted_log("File status= "+file_status);

				   if(file_status == true){
					   ted_log("data= "+ data)
						data.submit();
				   };
				},

			fail: function(e, data) {
				console.log('fail')
			},
			success: function(data) {
				// Here we get the file url on s3 in an xml doc
				var url = $(data).find('Location').text()
				ted_log(url)
				ted_log(data)

			    if (s3ObjectType == "image"){

					ted_log("in save image file")
					ted_log("image save location= "+image_save_location)
					$.ajax({
						url:image_save_location,
						type: "post",
						data: {
							type: imageType,
							file_name: s3_file_name
						},
						success:
								function(){console.log("image updated")},

						fail:
								function(){ted_log("image save failed")}

					})
				};

//						$( &#039;#real_file_url&#039; ).val(url) // Update the real input in the other form
			},
			done: function (event, data) {
				$('.progress').fadeOut(300, function() {
					$('.bar').css('width', 0)
				})
			}
		})
	})
}

function save_s3_meta_name (file_name_ext_remv,meta_update_url) {
	ted_log("in save s3 meta name, meta update url= "+ meta_update_url);
	$.ajax({
		url:meta_update_url,
		type: "post",
		data: {
			s3_meta_name: file_name_ext_remv
		},
		success:
				function(){console.log("saved")},

		fail:
				function(){ted_log("S3_meta_failed")}

	})
};

// client side validation of file size
function file_size_check(type,size){

	if(type == "image"){
		if (size > 1048576){
			alert("Image File exceeds 1 MB, please reduce the size and re upload")
			ted_log("File size is too large.  File is= "+size)

			return false
		} else {
			return true
		}
	} else {

		if (size > 104857600){
			alert("Song file exceeds 100MB, please reduce the size and re upload")
			ted_log("File size is too large.  File is= "+size)

			return false
		} else {
			return true
		}

	};


}



function form_upload_rails(){
	ted_log("In form upload")

		$('.ajax_update').submit(function(){

					var valuesToSubmit = $(this).serialize();

					$.ajax({
						url: $(this).attr('action'), //sumbits it to the given url of the form
						data: valuesToSubmit,
						type: 'POST',
						dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
					}).success(function(json){
								loadContent(json.url)
							});
					return false; // prevents normal behaviour

				}
		)


}



function nav_selector(){
	$(".navLink").click(function (event) {
		ted_log("in nav slector click function");

		var nav_id = "#"+event.target.id
		ted_log("nav id "+nav_id);
		$( ".navArea div" ).parent().find('div').removeClass("selected");
		$(nav_id).addClass("selected")
	});





}





//was for changing meta information on content load
//	function change_meta() {
//		$("meta[name='twitter:card']").attr("content", "<@artist.name")
//
//
//	}


function ted_log() {
	if (typeof console !== undefined && DEBUGGING) {
		console.log(arguments);
	} else if (DEBUGGING) {
		//alert(json);

	}
}

</script>







<%= csrf_meta_tag %>
</head>

<body>

<div id="fb-root"></div>
<script>(function (d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s);
	js.id = id;
	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
	<div class="player_nav">


		<div id="jquery_jplayer_1" class="jp-jplayer"></div>


		<div id="jp_container_1">
			<div class="jp-type-playlist">
				<div class="jp-audio-container">
					<div class="branding">
						<b><p class="branding">3RPTR</p></b>
					</div>

					<div class="jp-audio">
						<div class="jp-type-single">
							<div id="jp_interface_1" class="jp-interface">

								<ul class="jp-controls">

									<li><a href="#" class="jp-play" tabindex="1" data-icon="&#x27;"></a></li>
									<li><a href="#" class="jp-pause" tabindex="1" data-icon="&#x22;"></a></li>

									<li><a href="#" class="jp-mute" tabindex="1" data-icon="&#x24;"></a></li>
									<li><a href="#" class="jp-unmute" tabindex="1" data-icon="&#x25;"></a></li>
								</ul>

								<div class="trackInfo">
									<div class="track_name" id="track_name">&nbsp;</div>

									<div class="progressBarContainer">
										<div class="jp-current-time"></div>
										
										<div class="jp-progress-container">
											<div class="jp-seek-bar">
												<div class="jp-play-bar"></div>
											</div>
										</div>	
											<div class="jp-duration endTime"></div>
									</div>
								</div>

								<div class="playlist">
									Playlist
									<div class="jp-playlist">
										<ul class="songList">
											<li class="playlistSong"></li>
										</ul>
									</div>
								</div>


							</div>
						</div>
					</div>

				</div>

				<div class="jp-no-solution">
					<span>Update Required</span>
					To play the media you will need to either update your browser to a recent version or update your
					<a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
				</div>
				<!--<div class="clearfix"></div>-->
			</div>
		</div>

		<div id="user_nav" class="user_nav">
			<div class="user_nav_info">
				<% if user_signed_in? %>
					Signed in as <%= link_to current_user.email, show_user_path(current_user.id), :class => :nav %>. Not
					you?
					<%= link_to "Sign out", destroy_user_session_path, :class => :nav, :method => :delete %>

				<% else %>
					<%#= render :partial => 'login_form' %>
					<%= link_to "sign in", new_user_session_path %>
					<%= link_to "register", new_user_registration_path %>

				<% end %>
			</div>
			<div class="admin">
				<a href=# class="adminLink" data-icon="&#x23;"></a>
			</div>
		</div>


	</div>


</div>

<!--<div id="loading">-->
<!--<p>Loading..</p>-->
<!--</div>-->


<div class="edit-controls">
	<% if can? :update, @artist %>
		<h1>Menu</h1>


		<h1><%= link_to @artist.name, artist_link_path(@artist.url_slug) %></h1>


		<%= link_to "Delete Artist", pre_delete_path(@artist.url_slug)%>

		<h2><%= link_to 'Admin', artist_admin_path(@artist.url_slug), :class => "content-link" %></h2>

		<h2><%= link_to 'Layout Editor', profile_edit_path(@artist.url_slug) %></h2>

		<h2>Albums: <%= link_to 'New Album',add_album_path(@artist.url_slug),:class => "content-link"%></h2>

		<ul>
			<% @artist.albums.uniq.each do |albums| %>
				<% unless albums.album_url_slug.blank?%>
					<li><%= link_to albums.al_name, artist_show_album_path(@artist.url_slug,albums.album_url_slug),:class => "content-link" %>
						<%= link_to 'Edit', album_edit_path(@artist.url_slug, albums.album_url_slug,albums.id),:class => "content-link" %>
						<%= link_to 'Destroy', album_pre_delete_path(@artist.url_slug,albums.album_url_slug), :confirm => 'Are you sure?' %>
						<%= link_to 'Album Codes', album_create_code_path(@artist.url_slug,albums.id) %>
					</li>
				<% end %>
			<% end %>
		</ul>

		<p>
		<h2>Songs: <%= link_to 'Add Song', add_song_path(@artist.url_slug),:class => "content-link"%></h2>

		<ul>
			<% @artist.songs.uniq.each do |songs| %>
				<% unless songs.song_url_slug.blank?%>
					<% unless songs.s3_id.nil? %>
						<li><%= link_to songs.song_name, artist_show_song_path(@artist.url_slug, songs.song_url_slug), :class => "content-link" %>
							<%= link_to 'Edit', song_edit_path(@artist.url_slug,songs.song_url_slug, songs.id),:class => "content-link" %>
							<%= link_to 'Destroy', song_destroy_path(@artist.url_slug,songs.id), :confirm => 'Are you sure?' %>
						</li>
					<% end %>
				<% end %>
			<% end %>
		</ul>

		</p>


	<% end %>

	<%= link_to 'Song List', songs_path %>
	<%= link_to 'Artist List', artists_path%>


</div>

<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="bodyArea">

		<div class="floatingContent">
			<div class="artistLogoArea"><a href="/<%= @artist.url_slug %>/?promo=true" class="content-link">
				<% if @artist.logo_toggle == true %>
					<img src="<%= @artist.logo %>" /></a>
				<% else %>
					<h1><%= @artist.name %></h1>
				<%end%>
			</a>

			</div>
			<div class="navArea"><a href="/<%= @artist.url_slug %>" class="content-link navLink"><div class="nav <%=@tag_info %>" id="info">INFO</div></a><a href="<%= artist_show_songs_path %>" class="content-link navLink"><div class="nav" id="songs">SONGS</div></a><a href="<%= artist_show_albums_path %>" class="content-link navLink"><div class="nav" id="albums">ALBUMS</div></a>
			</div>
			<div class="miniPage" id="content"><%= yield %></div>
		</div>


</div>




</body>
</html>
